In [1]:
import pandas as pd
flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [2]:
flights.groupby('AIRLINE').agg({'ARR_DELAY':'mean'}).head()

         ARR_DELAY
AIRLINE
AA        5.542661
AS       -0.833333
B6        8.692593
DL        0.339691
EV        7.034580

In [3]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg('mean').head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [4]:
import numpy as np
flights.groupby('AIRLINE')['ARR_DELAY'].agg(np.mean).head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [5]:
flights.groupby('AIRLINE')['ARR_DELAY'].mean().head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [6]:
grouped = flights.groupby('AIRLINE')
type(grouped)

pandas.core.groupby.groupby.DataFrameGroupBy

In [7]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg(np.sqrt)

c:\users\mnoor\appdata\local\programs\python\python37\lib\site-packages\pandas\core\groupby\groupby.py:1062: RuntimeWarning: invalid value encountered in sqrt
  f = lambda x: func(x, *args, **kwargs)
c:\users\mnoor\appdata\local\programs\python\python37\lib\site-packages\pandas\core\groupby\groupby.py:3625: RuntimeWarning: invalid value encountered in sqrt
  output = func(group, *args, **kwargs)

Exception: Must produce aggregated value

In [8]:
flights.groupby(['AIRLINE','WEEKDAY'])['CANCELLED'].agg('sum').head(7)

AIRLINE  WEEKDAY
AA       1          41
         2           9
         3          16
         4          20
         5          18
         6          21
         7          29
Name: CANCELLED, dtype: int64

In [10]:
flights.groupby(['AIRLINE','WEEKDAY'])['CANCELLED', 'DIVERTED'].agg(['sum', 'mean']).head(7)

                CANCELLED           DIVERTED
                      sum      mean      sum      mean
AIRLINE WEEKDAY
AA      1              41  0.032106        6  0.004699
        2               9  0.007341        2  0.001631
        3              16  0.011949        2  0.001494
        4              20  0.015004        5  0.003751
        5              18  0.014151        1  0.000786
        6              21  0.018667        9  0.008000
        7              29  0.021837        1  0.000753

In [11]:
agg_dict = {'CANCELLED':['sum', 'mean', 'size'],
            'AIR_TIME':['mean', 'var']}

flights.groupby(['AIRLINE', 'WEEKDAY']).agg(agg_dict).head()

                CANCELLED                    AIR_TIME
                      sum      mean  size        mean          var
AIRLINE WEEKDAY
AA      1              41  0.032106  1277  147.610569  5393.806723
        2               9  0.007341  1226  143.851852  5359.890719
        3              16  0.011949  1339  144.514005  5378.854539
        4              20  0.015004  1333  141.124618  4791.524627
        5              18  0.014151  1272  145.430966  5884.592076

In [12]:
airline_info = flights.groupby(['AIRLINE', 'WEEKDAY'])\
                      .agg({'DIST':['sum', 'mean'],'ARR_DELAY':['min', 'max']})\
                      .astype(int)

airline_info.head(7)

                    DIST       ARR_DELAY
                     sum  mean       min  max
AIRLINE WEEKDAY
AA      1        1455386  1139       -60  551
        2        1358256  1107       -52  725
        3        1496665  1117       -45  473
        4        1452394  1089       -46  349
        5        1427749  1122       -41  732
        6        1265340  1124       -50  858
        7        1461906  1100       -49  626

In [13]:
level0 = airline_info.columns.get_level_values(0)
level0

Index(['DIST', 'DIST', 'ARR_DELAY', 'ARR_DELAY'], dtype='object')

In [14]:
level1 = airline_info.columns.get_level_values(1)
level1

Index(['sum', 'mean', 'min', 'max'], dtype='object')

In [15]:
airline_info.columns = level0 + '_' + level1
airline_info.head(7)

                 DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
AIRLINE WEEKDAY
AA      1         1455386       1139            -60            551
        2         1358256       1107            -52            725
        3         1496665       1117            -45            473
        4         1452394       1089            -46            349
        5         1427749       1122            -41            732
        6         1265340       1124            -50            858
        7         1461906       1100            -49            626

In [16]:
airline_info.reset_index().head(7)

  AIRLINE  WEEKDAY  DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
0      AA        1   1455386       1139            -60            551
1      AA        2   1358256       1107            -52            725
2      AA        3   1496665       1117            -45            473
3      AA        4   1452394       1089            -46            349
4      AA        5   1427749       1122            -41            732
5      AA        6   1265340       1124            -50            858
6      AA        7   1461906       1100            -49            626

In [17]:
a = flights.groupby(['AIRLINE', 'WEEKDAY'], as_index=False)['DIST'].agg(np.mean).round(0)
print(type(a))
a

<class 'pandas.core.frame.DataFrame'>

   AIRLINE  WEEKDAY    DIST
0       AA        1  1140.0
1       AA        2  1108.0
2       AA        3  1118.0
3       AA        4  1090.0
4       AA        5  1122.0
5       AA        6  1125.0
6       AA        7  1101.0
7       AS        1  1029.0
8       AS        2  1082.0
9       AS        3  1045.0
10      AS        4  1112.0
11      AS        5  1110.0
12      AS        6  1049.0
13      AS        7  1037.0
14      B6        1  1703.0
15      B6        2  1755.0
16      B6        3  1619.0
17      B6        4  1878.0
18      B6        5  1767.0
19      B6        6  1859.0
20      B6        7  1822.0
21      DL        1   865.0
22      DL        2   853.0
23      DL        3   873.0
24      DL        4   869.0
25      DL        5   846.0
26      DL        6   884.0
27      DL        7   878.0
28      EV        1   449.0
29      EV        2   477.0
..     ...      ...     ...
68      OO        6   537.0
69      OO        7   501.0
70      UA        1  1206.0
71      UA        2  1209.0
72      UA        3  1225.0
73      UA        4  1214.0
74      UA        5  1227.0
75      UA        6  1275.0
76      UA        7  1276.0
77      US        1  1265.0
78      US        2  1199.0
79      US        3  1222.0
80      US        4  1177.0
81      US        5  1207.0
82      US        6  1042.0
83      US        7  1156.0
84      VX        1  1380.0
85      VX        2  1260.0
86      VX        3  1310.0
87      VX        4  1230.0
88      VX        5  1110.0
89      VX        6  1067.0
90      VX        7  1285.0
91      WN        1   803.0
92      WN        2   810.0
93      WN        3   782.0
94      WN        4   811.0
95      WN        5   817.0
96      WN        6   835.0
97      WN        7   819.0

[98 rows x 3 columns]

In [18]:
college = pd.read_csv('data/college.csv')
college.groupby('STABBR')['UGDS']\
       .agg(['mean', 'std'])\
       .round(0)\
       .head()

          mean      std
STABBR
AK      2493.0   4052.0
AL      2790.0   4658.0
AR      1644.0   3143.0
AS      1276.0      NaN
AZ      4130.0  14894.0

In [19]:
def max_deviation(s):
    std_score = (s - s.mean()) / s.std()
    return std_score.abs().max()

In [20]:
college.groupby('STABBR')['UGDS'].agg(max_deviation)\
                                 .round(1).head()

STABBR
AK    2.6
AL    5.8
AR    6.3
AS    NaN
AZ    9.9
Name: UGDS, dtype: float64

In [21]:
college.groupby('STABBR')['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg(max_deviation)\
       .round(1)\
       .head()

        UGDS  SATVRMID  SATMTMID
STABBR
AK       2.6       NaN       NaN
AL       5.8       1.6       1.8
AR       6.3       2.2       2.3
AS       NaN       NaN       NaN
AZ       9.9       1.9       1.4

In [22]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg([max_deviation, 'mean', 'std'])\
       .round(1)\
       .head()

                         UGDS                      SATVRMID               \
                max_deviation    mean     std max_deviation   mean   std
STABBR RELAFFIL
AK     0                  2.1  3508.9  4539.5           NaN    NaN   NaN
       1                  1.1   123.3   132.9           NaN  555.0   NaN
AL     0                  5.2  3248.8  5102.4           1.6  514.9  56.5
       1                  2.4   979.7   870.8           1.5  498.0  53.0
AR     0                  5.8  1793.7  3401.6           1.9  481.1  37.9

                     SATMTMID
                max_deviation   mean   std
STABBR RELAFFIL
AK     0                  NaN    NaN   NaN
       1                  NaN  503.0   NaN
AL     0                  1.7  515.8  56.7
       1                  1.4  485.6  61.4
AR     0                  2.0  503.6  39.0

In [23]:
max_deviation.__name__

'max_deviation'

In [24]:
max_deviation.__name__ = 'Max Deviation'
college.groupby(['STABBR', 'RELAFFIL'])['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg([max_deviation, 'mean', 'std'])\
       .round(1)\
       .head()

                         UGDS                      SATVRMID               \
                Max Deviation    mean     std Max Deviation   mean   std
STABBR RELAFFIL
AK     0                  2.1  3508.9  4539.5           NaN    NaN   NaN
       1                  1.1   123.3   132.9           NaN  555.0   NaN
AL     0                  5.2  3248.8  5102.4           1.6  514.9  56.5
       1                  2.4   979.7   870.8           1.5  498.0  53.0
AR     0                  5.8  1793.7  3401.6           1.9  481.1  37.9

                     SATMTMID
                Max Deviation   mean   std
STABBR RELAFFIL
AK     0                  NaN    NaN   NaN
       1                  NaN  503.0   NaN
AL     0                  1.7  515.8  56.7
       1                  1.4  485.6  61.4
AR     0                  2.0  503.6  39.0

In [25]:
def pct_between_1_3k(s):
    return s.between(1000, 3000).mean()

In [26]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS']\
       .agg(pct_between_1_3k).head(9)

STABBR  RELAFFIL
AK      0           0.142857
        1           0.000000
AL      0           0.236111
        1           0.333333
AR      0           0.279412
        1           0.111111
AS      0           1.000000
AZ      0           0.096774
        1           0.000000
Name: UGDS, dtype: float64

In [27]:
def pct_between_1_3k(s, low, high):
    return s.between(low, high).mean()

In [28]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS']\
       .agg(pct_between_1_3k, 1000, 3000).head(9)

STABBR  RELAFFIL
AK      0           0.142857
        1           0.000000
AL      0           0.236111
        1           0.333333
AR      0           0.279412
        1           0.111111
AS      0           1.000000
AZ      0           0.096774
        1           0.000000
Name: UGDS, dtype: float64

In [30]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS']\
       .agg(pct_between_1_3k, high = 3000, low = 1000)\
       .head(9)

STABBR  RELAFFIL
AK      0           0.142857
        1           0.000000
AL      0           0.236111
        1           0.333333
AR      0           0.279412
        1           0.111111
AS      0           1.000000
AZ      0           0.096774
        1           0.000000
Name: UGDS, dtype: float64

In [31]:
def make_agg_func(func, name, *args, **kwargs):
    def wrapper(x):
        return func(x, *args, *kwargs)
    wrapper.__name__ = name
    return wrapper

In [33]:
my_agg1 = make_agg_func(pct_between_1_3k, 'pct_1_3k', low=1000, high=3000)
my_agg2 = make_agg_func(pct_between_1_3k, 'pct_10_30l', 10000, 30000)

In [39]:
my_agg1 = make_agg_func(pct_between_1_3k, 'pct_1_3k', low=1000, high=3000)
my_agg2 = make_agg_func(pct_between_1_3k, 'pct_10_30k', 10000, 30000)

In [40]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS'] \
       .agg(['mean', my_agg1, my_agg2]).head()

TypeError: invalid type comparison

In [1]:
import pandas as pd
college = pd.read_csv('data/college.csv')
grouped = college.groupby(['STABBR', 'RELAFFIL'])
grouped.head()
# type(grouped)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
5,The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750
10,Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,...,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
12,Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,...,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed
16,Faulkner University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0173,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200,22000
23,Huntingdon College,Montgomery,AL,0.0,0.0,0.0,1,510.0,490.0,0.0,...,0.0261,0.0061,0.0827,0.2097,1,0.3982,0.7153,0.1937,36500,26230
43,Prince Institute-Southeast,Elmhurst,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.7857,0.9375,0.6569,PrivacySuppressed,20992
60,University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
61,Alaska Bible College,Palmer,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0370,0.0000,0.0000,0.1481,1,0.3571,0.2857,0.4286,NaN,PrivacySuppressed
62,University of Alaska Fairbanks,Fairbanks,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0401,0.0110,0.3060,0.3887,1,0.2263,0.2550,0.4519,36200,19355
63,University of Alaska Southeast,Juneau,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0686,0.0049,0.2241,0.5112,1,0.1769,0.1996,0.5550,37400,16875
64,Alaska Pacific University,Anchorage,AK,0.0,0.0,0.0,1,555.0,503.0,0.0,...,0.0945,0.0000,0.0873,0.3745,1,0.3152,0.5297,0.4910,47000,23250
65,AVTEC-Alaska's Institute of Technology,Seward,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0529,0.0000,0.1395,0.6817,1,0.0737,0.0664,0.7127,33500,PrivacySuppressed
66,Charter College-Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0436,0.0000,0.0393,0.0000,1,0.8307,0.7503,0.5472,39200,13875
68,Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0373,0.0000,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600,9500
69,Collins College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0241,0.0000,0.3855,0.3373,0,0.7205,0.8228,0.4764,25700,47000
70,Empire Beauty School-Paradise Valley,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0400,0.0000,0.0000,0.1600,0,0.6349,0.5873,0.4651,17800,9588
71,Empire Beauty School-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0079,0.2222,1,0.7962,0.6615,0.4229,18200,9833
72,Thunderbird School of Global Management,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,1.0000,0,0.0000,0.0000,0.0000,118900,PrivacySuppressed
73,American Indian College Inc,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0787,0,0.7500,0.5375,0.4684,PrivacySuppressed,PrivacySuppressed
74,American Institute of Technology,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0414,0.0000,0.0263,0.0000,1,0.4276,0.6477,0.9137,30800,6135
75,Carrington College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0049,0.0000,0.0081,0.0000,1,0.7287,0.4754,0.2722,25100,9500
109,Ottawa University-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0348,0.0029,0.1594,0.9942,1,0.5246,0.6203,0.8841,40300,22000
114,Pima Medical Institute-Albuquerque,Albuquerque,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0348,0.0000,0.0336,0.0000,1,0.5900,0.6630,0.5387,28200,8708
122,Arizona Christian University,Phoenix,AZ,0.0,0.0,0.0,1,485.0,480.0,0.0,...,0.0548,0.0210,0.0403,0.0452,1,0.3039,0.4630,0.1055,33500,22500
128,University of Arkansas at Little Rock,Little Rock,AR,0.0,0.0,0.0,0,470.0,510.0,0.0,...,0.0755,0.0283,0.0003,0.4126,1,0.3941,0.4775,0.4062,33900,21736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4145,American Educational College,Bayamon,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0090,1,0.5619,0.0000,0.3625,15000,PrivacySuppressed
4146,Antilles School of Technical Careers,San Juan,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.8079,0.0000,0.4069,18900,PrivacySuppressed
4147,Universidad Adventista de las Antillas,Mayaguez,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0262,0.0000,0.0638,1,0.8687,0.5291,0.2230,18900,13800
4149,Universidad Central de Bayamon,Bayamón,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0078,0.3055,1,0.8200,0.3063,0.2849,18500,8250
4154,Pontifical Catholic University of Puerto Rico-...,Arecibo,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0877,0.0763,1,0.7511,0.3725,0.2595,17900,13195
4155,Pontifical Catholic University of Puerto Rico-...,Ponce,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0037,0.0168,0.0836,1,0.8011,0.4944,0.1281,17900,13195
4157,Universidad Teologica del Caribe,Trujillo Alto,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.4824,1,0.9126,0.2961,0.8267,17400,PrivacySuppressed
4214,College of Micronesia-FSM,Pohnpei,FM,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0115,0.3157,1,0.8778,0.0000,0.1631,15700,PrivacySuppressed
4215,Palau Community College,Koror,PW,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.3887,1,0.8560,0.0000,0.2616,24700,PrivacySuppressed
4216,University of the Virgin Islands,Charlotte Amalie,VI,1.0,0.0,0.0,0,400.0,390.0,0.0,...,0.0101,0.0589,0.0715,0.3059,1,0.5161,0.3224,0.3196,31800,15150
4515,New England School of Communications,Bangor,ME,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0090,0.0240,0.0000,0.1347,1,NaN,NaN,0.1007,27400,27000
4561,College of the Marshall Islands,Majuro,MH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0056,0.0000,0.2727,1,0.8923,0.0000,0.2310,PrivacySuppressed,PrivacySuppressed
5289,Pacific Islands University,Mangilao,GU,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.1846,1,0.9730,0.0000,0.2533,PrivacySuppressed,PrivacySuppressed
5417,Alaska Christian College,Soldotna,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0147,0.0000,0.1324,0.0735,1,0.8868,0.6792,0.2264,NaN,PrivacySuppressed
5709,Eagle Gate College-Salt Lake City,Salt Lake City,UT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0101,0.0000,0.2525,0.4141,0,0.6290,0.8925,0.6613,29500,19629.5
6256,Pacific Rim Christian University,Honolulu,HI,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.1875,0.0521,0.0000,0.3958,1,0.4882,0.4252,0.3876,26400,24921
6342,Paul Mitchell the School-St George,Washington,UT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0342,0.0000,0.0513,0.2821,0,0.5360,0.4505,0.2795,PrivacySuppressed,12000
6439,Touro University Nevada,Henderson,NV,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0323,0.0000,0.0645,0.0323,1,0.0000,0.2000,0.4000,NaN,PrivacySuppressed
6796,Velvet Touch Academy of Cosmetology,Nampa,ID,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,0,0.5728,0.5534,0.4098,NaN,5846
7317,Empire Beauty School-Caribou,Caribou,ME,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,16900,9833
7318,Empire Beauty School-Bangor,Bangor,ME,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,16900,9833
7350,City College Montana State University Billings,Billings,MT,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,33400,17450
7351,The University of Montana - Missoula College,Missoula,MT,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,34300,23431
7352,Marinello School of Beauty-Henderson,Henderson,NV,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,21200,9796.5
7361,Rasmussen College-Bismarck,Bismarck,ND,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,30900,21163
7366,Montpelier Center - Closed July 2013,Montpelier,VT,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,39600,18750
7367,New England Center,Brattleboro,VT,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,39600,18750
7404,University of the Virgin Islands-Albert A. Sheen,St. Croix,VI,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,31800,15150
7419,Computer Career Center-Las Cruces,Las Cruces,NM,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,21300,14250
7424,Rob Roy Academy - Woonsocket,Woonsocket,RI,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,17400,7741

In [2]:
print([attr for attr in dir(grouped) if not attr.startswith('_')])

['CITY', 'CURROPER', 'DISTANCEONLY', 'GRAD_DEBT_MDN_SUPP', 'HBCU', 'INSTNM', 'MD_EARN_WNE_P10', 'MENONLY', 'PCTFLOAN', 'PCTPELL', 'PPTUG_EF', 'RELAFFIL', 'SATMTMID', 'SATVRMID', 'STABBR', 'UG25ABV', 'UGDS', 'UGDS_2MOR', 'UGDS_AIAN', 'UGDS_ASIAN', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_NHPI', 'UGDS_NRA', 'UGDS_UNKN', 'UGDS_WHITE', 'WOMENONLY', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']

In [3]:
print([attr for attr in dir(grouped)])

['CITY', 'CURROPER', 'DISTANCEONLY', 'GRAD_DEBT_MDN_SUPP', 'HBCU', 'INSTNM', 'MD_EARN_WNE_P10', 'MENONLY', 'PCTFLOAN', 'PCTPELL', 'PPTUG_EF', 'RELAFFIL', 'SATMTMID', 'SATVRMID', 'STABBR', 'UG25ABV', 'UGDS', 'UGDS_2MOR', 'UGDS_AIAN', 'UGDS_ASIAN', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_NHPI', 'UGDS_NRA', 'UGDS_UNKN', 'UGDS_WHITE', 'WOMENONLY', '__bytes__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__unicode__', '__weakref__', '_accessors', '_add_numeric_operations', '_agg_doc', '_aggregate', '_aggregate_generic', '_aggregate_item_by_item', '_aggregate_multiple_funcs', '_apply_filter', '_apply_to_column_groupbys', '_apply_whitelist', '_assure_grouper', '_block_agg_axis', '_bool_agg', '_builtin_table', '_choose_path', '_concat_objects', '_constructor', '_cumcount_array', '_cython_agg_blocks', '_cython_agg_general', '_cython_table', '_cython_transform', '_decide_output_index', '_def_str', '_define_paths', '_deprecations', '_dir_additions', '_dir_deletions', '_fill', '_get_cythonized_result', '_get_data_to_aggregate', '_get_index', '_get_indices', '_gotitem', '_group_selection', '_insert_inaxis_grouper_inplace', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cython_func', '_iterate_column_groupbys', '_iterate_slices', '_make_wrapper', '_obj_with_exclusions', '_post_process_cython_aggregate', '_python_agg_general', '_python_apply_general', '_reindex_output', '_reset_cache', '_reset_group_selection', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_group_selection', '_set_result_index_ordered', '_shallow_copy', '_transform_fast', '_transform_general', '_transform_item_by_item', '_transform_should_cast', '_try_aggregate_string_function', '_try_cast', '_wrap_agged_blocks', '_wrap_aggregated_output', '_wrap_applied_output', '_wrap_generic_output', '_wrap_transformed_output', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']

In [4]:
grouped.ngroups

112

In [5]:
groups = list(grouped.groups.keys())
groups[:6]

[('AK', 0), ('AK', 1), ('AL', 0), ('AL', 1), ('AR', 0), ('AR', 1)]

In [6]:
grouped.get_group(('FL', 1)).head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
712,The Baptist College of Florida,Graceville,FL,0.0,0.0,0.0,1,545.0,465.0,0.0,...,0.0308,0.0000,0.0507,0.2291,1,0.5878,0.5602,0.3531,30800,20052
713,Barry University,Miami,FL,0.0,0.0,0.0,1,470.0,462.0,0.0,...,0.0164,0.0741,0.0841,0.1518,1,0.5045,0.6733,0.4361,44100,28250
714,Gooding Institute of Nurse Anesthesia,Panama City,FL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,PrivacySuppressed
715,Bethune-Cookman University,Daytona Beach,FL,1.0,0.0,0.0,1,405.0,395.0,0.0,...,0.0198,0.0205,0.0190,0.0523,1,0.7758,0.8867,0.0647,29400,36250
724,Johnson University Florida,Kissimmee,FL,0.0,0.0,0.0,1,480.0,470.0,0.0,...,0.0045,0.0045,0.0136,0.1636,1,0.6689,0.7384,0.2185,26300,20199

In [7]:
from IPython.display import display

In [8]:
for name, group in grouped:
    print(name)
    display(group.head(3))

('AK', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
60,University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
62,University of Alaska Fairbanks,Fairbanks,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0401,0.0110,0.3060,0.3887,1,0.2263,0.2550,0.4519,36200,19355
63,University of Alaska Southeast,Juneau,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0686,0.0049,0.2241,0.5112,1,0.1769,0.1996,0.5550,37400,16875

('AK', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
61,Alaska Bible College,Palmer,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0370,0.0,0.0000,0.1481,1,0.3571,0.2857,0.4286,NaN,PrivacySuppressed
64,Alaska Pacific University,Anchorage,AK,0.0,0.0,0.0,1,555.0,503.0,0.0,...,0.0945,0.0,0.0873,0.3745,1,0.3152,0.5297,0.4910,47000,23250
5417,Alaska Christian College,Soldotna,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0147,0.0,0.1324,0.0735,1,0.8868,0.6792,0.2264,NaN,PrivacySuppressed

('AL', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097

('AL', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
10,Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,...,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
12,Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,...,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed

('AR', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
128,University of Arkansas at Little Rock,Little Rock,AR,0.0,0.0,0.0,0,470.0,510.0,0.0,...,0.0755,0.0283,0.0003,0.4126,1,0.3941,0.4775,0.4062,33900,21736
129,University of Arkansas for Medical Sciences,Little Rock,AR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0281,0.0070,0.0169,0.2433,1,0.3944,0.6144,0.5133,61400,12500
130,ABC Beauty College Inc,Arkadelphia,AR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.2105,1,0.9815,1.0000,0.4688,PrivacySuppressed,16500

('AR', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
131,Arkansas Baptist College,Little Rock,AR,1.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0089,0.0000,0.1127,1,0.8306,0.8695,0.2833,22000,38000
134,Lyon College,Batesville,AR,0.0,0.0,0.0,1,505.0,528.0,0.0,...,0.0000,0.0333,0.0638,0.0101,1,0.4578,0.6740,0.0524,38600,25000
144,Baptist Health College-Little Rock,Little Rock,AR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0224,0.0000,0.0012,0.0848,1,0.5033,0.7266,0.3791,43200,13393.5

('AS', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4138,American Samoa Community College,Pago Pago,AS,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0721,0.0024,0.4389,1,0.7245,0.0,0.1774,19800,PrivacySuppressed

('AZ', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
69,Collins College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0241,0.0,0.3855,0.3373,0,0.7205,0.8228,0.4764,25700,47000
71,Empire Beauty School-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0079,0.2222,1,0.7962,0.6615,0.4229,18200,9833
72,Thunderbird School of Global Management,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0000,1.0000,0,0.0000,0.0000,0.0000,118900,PrivacySuppressed

('AZ', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
68,Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0373,0.0,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600,9500
70,Empire Beauty School-Paradise Valley,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0400,0.0,0.0000,0.1600,0,0.6349,0.5873,0.4651,17800,9588
73,American Indian College Inc,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0,0.0000,0.0787,0,0.7500,0.5375,0.4684,PrivacySuppressed,PrivacySuppressed

('CA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
192,Academy of Art University,San Francisco,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0249,0.2523,0.2098,0.4334,1,0.4008,0.5524,0.4043,36000,35093
193,ITT Technical Institute-Rancho Cordova,Rancho Cordova,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0400,0.0000,0.1780,0.2540,0,0.7137,0.7667,0.7235,38800,25827.5
194,Academy of Chinese Culture and Health Sciences,Oakland,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed

('CA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
200,American Baptist Seminary of the West,Berkeley,CA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
210,Azusa Pacific University,Azusa,CA,0.0,0.0,0.0,1,515.0,515.0,0.0,...,0.0738,0.0191,0.0269,0.0875,1,0.2898,0.5172,0.1467,50000,22500
214,Bethesda University,Anaheim,CA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0115,0.0307,0.1609,1,0.3686,0.2078,0.4672,PrivacySuppressed,PrivacySuppressed

('CO', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
565,The Salon Professional Academy-Grand Junction,Grand Junction,CO,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0800,0.0000,0.0000,0.0000,1,0.3806,0.4925,0.2778,PrivacySuppressed,9570
566,Adams State University,Alamosa,CO,0.0,0.0,0.0,0,475.0,509.0,0.0,...,0.0450,0.0000,0.0289,0.1474,1,0.5175,0.6305,0.2106,32800,16255
567,Aims Community College,Greeley,CO,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0201,0.0005,0.0087,0.5246,1,0.4105,0.3197,0.3941,31400,8773

('CO', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
575,Colorado Christian University,Lakewood,CO,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0386,0.0014,0.0369,0.5835,1,0.3087,0.5214,0.4500,36900,25808
589,Prince Institute-Rocky Mountains,Westminster,CO,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,NaN,0,0.6923,0.9487,0.8824,33400,20992
592,Denver Seminary,Littleton,CO,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed

('CT', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
629,Paul Mitchell the School-Danbury,Danbury,CT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0292,0.0,0.0803,0.2774,1,0.4078,0.5475,0.2913,19000,10486
630,Asnuntuck Community College,Enfield,CT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0213,0.0,0.0319,0.4795,1,0.3790,0.0950,0.3959,30900,5500
631,Branford Hall Career Institute-Branford Campus,Branford,CT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0142,0.0,0.0142,0.3002,1,0.7103,0.7351,0.5725,27900,9800

('CT', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
628,Albertus Magnus College,New Haven,CT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0128,0.0088,0.0592,0.0825,1,0.4420,0.8002,0.5133,52100,27763.5
645,Fairfield University,Fairfield,CT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0130,0.0234,0.0940,0.0406,1,0.1322,0.5092,0.0604,68500,26852.5
652,Holy Apostles College and Seminary,Cromwell,CT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.3966,0.0517,0.3621,1,0.1379,0.2241,0.7241,NaN,PrivacySuppressed

('DC', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
698,University of the District of Columbia,Washington,DC,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0183,0.0336,0.1636,0.5554,1,0.5401,0.4832,0.5662,34800,22393.5
700,Gallaudet University,Washington,DC,0.0,0.0,0.0,0,430.0,445.0,0.0,...,0.0330,0.0819,0.0060,0.0500,1,0.5278,0.3880,0.2451,26000,17750
701,George Washington University,Washington,DC,0.0,0.0,0.0,0,640.0,655.0,0.0,...,0.0355,0.0945,0.0447,0.0666,1,0.1420,0.4003,0.0783,65400,25350

('DC', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
696,American University,Washington,DC,0.0,0.0,0.0,1,635.0,610.0,0.0,...,0.0541,0.0723,0.0562,0.0293,1,0.1666,0.5213,0.0252,55900,24589
697,Catholic University of America,Washington,DC,0.0,0.0,0.0,1,565.0,560.0,0.0,...,0.0394,0.0519,0.0646,0.0530,1,0.1252,0.5615,0.0940,53900,26000
699,Pontifical Faculty of the Immaculate Conceptio...,Washington,DC,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed

('DE', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
685,Margaret H Rollins School of Nursing at Beebe ...,Lewes,DE,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.4545,0.4727,0.4909,PrivacySuppressed,PrivacySuppressed
686,Dawn Career Institute Inc,Wilmington,DE,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0796,0.0000,0.0000,0.0000,1,0.6677,0.7505,0.6003,22400,9500
688,Delaware Technical Community College-Terry,Dover,DE,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0328,0.0077,0.0142,0.5365,1,0.4606,0.2013,0.4075,30700,8000

('DE', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
687,Delaware Technical Community College-Owens,Georgetown,DE,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0259,0.0283,0.0080,0.5327,1,0.4674,0.1411,0.3561,28800,6750
689,Delaware Technical Community College-Stanton/W...,Wilmington,DE,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0258,0.0202,0.0151,0.6461,1,0.3511,0.1504,0.3842,34000,7508
694,Wesley College,Dover,DE,0.0,0.0,0.0,1,430.0,430.0,0.0,...,0.0391,0.0007,0.0482,0.0342,1,0.5010,0.8632,0.1319,41600,31000

('FL', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
709,Wyotech-Daytona,Ormond Beach,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0325,0.0000,0.0075,0.0000,1,0.6402,0.6978,0.5980,31800,11600
710,The Art Institute of Fort Lauderdale,Fort Lauderdale,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0007,0.0007,0.2734,0.3692,1,0.6263,0.7942,0.4132,28800,29983
711,Atlantic Technical College,Coconut Creek,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0123,0.0000,0.0000,0.0000,1,0.1363,0.0000,0.5044,31900,PrivacySuppressed

('FL', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
712,The Baptist College of Florida,Graceville,FL,0.0,0.0,0.0,1,545.0,465.0,0.0,...,0.0308,0.0000,0.0507,0.2291,1,0.5878,0.5602,0.3531,30800,20052
713,Barry University,Miami,FL,0.0,0.0,0.0,1,470.0,462.0,0.0,...,0.0164,0.0741,0.0841,0.1518,1,0.5045,0.6733,0.4361,44100,28250
714,Gooding Institute of Nurse Anesthesia,Panama City,FL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,PrivacySuppressed

('FM', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4214,College of Micronesia-FSM,Pohnpei,FM,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0115,0.3157,1,0.8778,0.0,0.1631,15700,PrivacySuppressed

('GA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
860,Abraham Baldwin Agricultural College,Tifton,GA,0.0,0.0,0.0,0,465.0,460.0,0.0,...,0.0092,0.0151,0.0003,0.2441,1,0.4629,0.4493,0.1523,32000,15085.5
862,Interactive College of Technology-Chamblee,Chamblee,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0174,1,0.5620,0.4236,0.7937,21100,7376
863,Interactive College of Technology-Morrow,Morrow,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.6129,0.6452,0.7778,21100,7376

('GA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
785,Luther Rice University & Seminary,Lithonia,GA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0020,0.0020,0.8224,1,0.5832,0.5362,0.8748,39400,29500
861,Agnes Scott College,Decatur,GA,0.0,0.0,1.0,1,NaN,NaN,0.0,...,0.0636,0.0898,0.0249,0.0050,1,0.4404,0.6470,0.0459,38800,27000
867,Andrew College,Cuthbert,GA,0.0,0.0,0.0,1,380.0,380.0,0.0,...,0.0305,0.0271,0.0000,0.0034,1,0.6139,0.8544,0.0095,27500,12875

('GU', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4139,Guam Community College,Mangilao,GU,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.007,0.0055,0.5453,1,0.6354,0.000,0.3058,22000,PrivacySuppressed
4140,University of Guam,Mangilao,GU,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.008,0.0230,0.2265,1,0.5269,0.276,0.2064,29900,PrivacySuppressed

('GU', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
5289,Pacific Islands University,Mangilao,GU,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0,0.0,0.0,0.1846,1,0.973,0.0,0.2533,PrivacySuppressed,PrivacySuppressed

('HI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
951,University of Hawaii at Hilo,Hilo,HI,0.0,0.0,0.0,0,465.0,475.0,0.0,...,0.2983,0.0476,0.0027,0.1733,1,0.4706,0.4515,0.2690,33500,19197
952,University of Hawaii at Manoa,Honolulu,HI,0.0,0.0,0.0,0,530.0,555.0,0.0,...,0.2516,0.0253,0.0018,0.1601,1,0.3015,0.3746,0.1755,43000,19000
953,Hawaii Institute of Hair Design,Honolulu,HI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0988,0.0000,0.0000,0.0000,1,0.8112,0.3776,0.5529,17300,5868

('HI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
949,Heald College-Honolulu,Honolulu,HI,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.1406,0.0000,0.2648,0.2198,0,0.7283,0.6920,0.5262,35000,11676
950,Chaminade University of Honolulu,Honolulu,HI,0.0,0.0,0.0,1,470.0,480.0,0.0,...,0.1145,0.0169,0.1299,0.1765,1,0.4641,0.4425,0.3237,38400,22000
3805,Brigham Young University-Hawaii,Laie,HI,0.0,0.0,0.0,1,525.0,545.0,0.0,...,0.0817,0.3616,0.0008,0.0523,1,0.2415,0.1749,0.2224,41500,8291

('IA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1247,Allen College,Waterloo,IA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0079,0.0079,0.0501,0.3588,1,0.3317,0.8065,0.3945,49100,17090.5
1248,AIB College of Business,Des Moines,IA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0128,0.0198,0.4140,0.2490,1,0.4132,0.7125,0.3209,37000,19732.5
1251,Capri College-Dubuque,Dubuque,IA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0159,0.0000,0.0000,0.0000,1,0.4845,0.5103,0.2295,19400,8477

('IA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1249,Briar Cliff University,Sioux City,IA,0.0,0.0,0.0,1,475.0,510.0,0.0,...,0.0187,0.0353,0.0000,0.1971,1,0.4549,0.7975,0.2380,38100,24000
1250,Buena Vista University,Storm Lake,IA,0.0,0.0,0.0,1,435.0,478.0,0.0,...,0.0100,0.0264,0.0724,0.1147,1,0.4911,0.8195,0.3999,38300,23877.5
1253,American College of Hairstyling-Cedar Rapids,Cedar Rapids,IA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,0,0.8889,0.8889,0.4545,PrivacySuppressed,PrivacySuppressed

('ID', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
965,Carrington College-Boise,Boise,ID,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0243,0.0000,0.0061,0.0789,1,0.6654,0.5804,0.5580,25000,9500
967,Boise State University,Boise,ID,0.0,0.0,0.0,0,510.0,515.0,0.0,...,0.0353,0.0408,0.0228,0.2519,1,0.3464,0.4669,0.3182,35600,23500
968,Eastern Idaho Technical College,Idaho Falls,ID,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0074,0.5037,1,0.5421,0.5393,0.6041,26600,11375

('ID', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
966,Boise Bible College,Boise,ID,0.0,0.0,0.0,1,520.0,480.0,0.0,...,0.0174,0.0058,0.0233,0.0930,1,0.6793,0.6576,0.1613,25500,19596
977,Northwest Nazarene University,Nampa,ID,0.0,0.0,0.0,1,525.0,515.0,0.0,...,0.0177,0.0231,0.0723,0.1085,1,0.3382,0.6081,0.2991,35900,25500
979,Brigham Young University-Idaho,Rexburg,ID,0.0,0.0,0.0,1,515.0,505.0,0.0,...,0.0569,0.0659,0.0238,0.3462,1,0.4733,0.2138,0.3710,38800,11000

('IL', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
43,Prince Institute-Southeast,Elmhurst,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0000,1,0.7857,0.9375,0.6569,PrivacySuppressed,20992
981,Adler University,Chicago,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
982,Alvareitas College of Cosmetology-Edwardsville,Edwardsville,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.3404,0,0.6364,0.7792,0.3111,PrivacySuppressed,9911

('IL', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
986,Augustana College,Rock Island,IL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0373,0.0251,0.0194,0.0061,1,0.2310,0.6985,0.0115,47900,27000
992,Blackburn College,Carlinville,IL,0.0,0.0,0.0,1,473.0,488.0,0.0,...,0.0208,0.0000,0.0104,0.0433,1,0.5064,0.7937,0.0534,37100,26000
1004,Catholic Theological Union at Chicago,Chicago,IL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed

('IN', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1165,Apex Academy of Hair Design Inc,Anderson,IN,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.5000,0.3333,0.3333,PrivacySuppressed,PrivacySuppressed
1166,Ball State University,Muncie,IN,0.0,0.0,0.0,0,550.0,545.0,0.0,...,0.0247,0.0196,0.0127,0.0618,1,0.3399,0.5917,0.0715,38800,25000
1168,Butler University,Indianapolis,IN,0.0,0.0,0.0,0,580.0,590.0,0.0,...,0.0214,0.0232,0.0294,0.0135,1,0.1649,0.5742,0.0185,55000,27000

('IN', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
990,Bethany Theological Seminary,Richmond,IN,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
1163,Ancilla College,Donaldson,IN,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0291,0.0053,0.0000,0.1878,1,0.6900,0.7400,0.2925,29400,17000
1164,Anderson University,Anderson,IN,0.0,0.0,0.0,1,515.0,515.0,0.0,...,0.0104,0.0306,0.0644,0.0863,1,0.2118,0.4688,0.1215,35600,27000

('KS', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1326,Allen County Community College,Iola,KS,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0004,0.0011,0.0046,0.5441,1,0.4001,0.2703,0.2886,29100,6900
1328,Barton County Community College,Great Bend,KS,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0212,0.0000,0.0185,0.3534,1,0.1424,0.0922,0.4148,32200,8976
1332,Brown Mackie College-Kansas City,Lenexa,KS,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0197,0.0000,1,0.6440,0.6975,0.6296,25200,16000

('KS', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1327,Baker University,Baldwin City,KS,0.0,0.0,0.0,1,478.0,505.0,0.0,...,0.0115,0.0127,0.0667,0.3511,1,0.3774,0.7296,0.4418,48800,25250
1329,Benedictine College,Atchison,KS,0.0,0.0,0.0,1,565.0,530.0,0.0,...,0.0419,0.0310,0.0283,0.0060,1,0.2073,0.5367,0.0208,39600,26000
1330,Bethany College,Lindsborg,KS,0.0,0.0,0.0,1,435.0,470.0,0.0,...,0.0251,0.0031,0.0000,0.0126,1,0.3988,0.1533,0.0316,38100,27000

('KY', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1389,Alice Lloyd College,Pippa Passes,KY,0.0,0.0,0.0,0,455.0,485.0,0.0,...,0.0015,0.0015,0.0107,0.0457,1,0.5737,0.6815,0.0460,33500,16495
1390,Asbury University,Wilmore,KY,0.0,0.0,0.0,0,559.0,551.0,0.0,...,0.0620,0.0167,0.0427,0.1741,1,0.3316,0.7001,0.1448,33600,25250
1392,Ashland Community and Technical College,Ashland,KY,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0115,0.0000,0.0058,0.3288,1,0.5259,0.4076,0.3974,23700,11780

('KY', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1391,Asbury Theological Seminary,Wilmore,KY,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,42500,PrivacySuppressed
1394,Bellarmine University,Louisville,KY,0.0,0.0,0.0,1,550.0,545.0,0.0,...,0.0344,0.0108,0.0164,0.0536,1,0.2364,0.6213,0.0941,46600,25000
1398,Brescia University,Owensboro,KY,0.0,0.0,0.0,1,460.0,490.0,0.0,...,0.0000,0.0100,0.1147,0.2403,1,0.4989,0.8219,0.4903,37500,30500

('LA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1461,Central Louisiana Technical Community College,Alexandria,LA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0155,0.003,0.0569,0.3929,1,0.3466,0.0000,0.4799,PrivacySuppressed,PrivacySuppressed
1462,American School of Business,Shreveport,LA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0164,0.000,0.0000,0.2951,0,0.6032,0.5159,0.8353,19400,9500
1463,Ayers Career College,Shreveport,LA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0039,0.000,0.0000,0.0000,1,0.9108,0.8410,0.6816,25100,9500

('LA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1470,Centenary College of Louisiana,Shreveport,LA,0.0,0.0,0.0,1,530.0,520.0,0.0,...,0.0383,0.0201,0.0000,0.0091,1,0.3515,0.6092,0.0307,40400,25000
1478,Dillard University,New Orleans,LA,1.0,0.0,0.0,1,440.0,430.0,0.0,...,0.0075,0.0217,0.0392,0.0517,1,0.7422,0.8833,0.0904,32800,35000
1492,Louisiana College,Pineville,LA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0115,0.0533,0.0136,0.0408,1,0.4319,0.5896,0.1487,39100,23743.5

('MA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1619,Hult International Business School,Cambridge,MA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
1620,New England College of Business and Finance,Boston,MA,0.0,0.0,0.0,0,NaN,NaN,1.0,...,0.0000,0.0000,0.7290,0.7696,1,0.2574,0.4426,0.8543,NaN,18450
1621,American International College,Springfield,MA,0.0,0.0,0.0,0,438.0,443.0,0.0,...,0.0448,0.0027,0.1473,0.0659,1,0.5063,0.8480,0.2102,38900,27000

('MA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1623,Andover Newton Theological School,Newton Centre,MA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
1624,Anna Maria College,Paxton,MA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0208,0.0054,0.0912,0.3060,1,0.3500,0.7725,0.2948,41900,25361
1626,Assumption College,Worcester,MA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0223,0.0160,0.1204,0.0812,1,0.2295,0.7268,0.0781,53600,27000

('MD', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1556,Aaron's Academy of Beauty,Waldorf,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.000,0.1786,1,0.7222,0.6481,0.4359,PrivacySuppressed,PrivacySuppressed
1557,Aesthetics Institute of Cosmetology,Gaithersburg,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0814,0.0000,0.000,0.5581,1,0.5833,0.4583,0.6500,PrivacySuppressed,6333
1558,Allegany College of Maryland,Cumberland,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0132,0.0143,0.019,0.3590,1,0.4782,0.4525,0.2946,29300,14072

('MD', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1570,Washington Adventist University,Takoma Park,MD,0.0,0.0,0.0,1,420.0,420.0,0.0,...,0.0127,0.0304,0.0886,0.1443,1,0.5727,0.7854,0.3225,44500,27000
1587,Loyola University Maryland,Baltimore,MD,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0236,0.0044,0.0042,0.0086,1,0.1426,0.5335,0.0072,63000,27000
1599,Mount St Mary's University,Emmitsburg,MD,0.0,0.0,0.0,1,530.0,520.0,0.0,...,0.0371,0.0094,0.0161,0.0460,1,0.2252,0.6215,0.0781,49900,25995

('ME', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1526,Kaplan University-Maine Campus,S Portland,ME,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0367,0.6448,1,0.7368,0.6812,0.7520,33400,29493
1527,College of the Atlantic,Bar Harbor,ME,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0137,0.1616,0.0247,0.0219,1,0.3876,0.6152,0.0387,26400,19000
1528,Bates College,Lewiston,ME,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0406,0.0688,0.0079,0.0000,1,0.1167,0.2859,0.0034,51600,16297

('ME', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1535,Husson University,Bangor,ME,0.0,0.0,0.0,1,475.0,480.0,0.0,...,0.0118,0.0275,0.0000,0.1501,1,0.4340,0.7447,0.2332,36900,26250
1549,Saint Joseph's College of Maine,Standish,ME,0.0,0.0,0.0,1,480.0,485.0,0.0,...,0.0000,0.0000,0.3363,0.4766,1,0.2452,0.6548,0.4171,39100,27000
4515,New England School of Communications,Bangor,ME,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0090,0.0240,0.0000,0.1347,1,NaN,NaN,0.1007,27400,27000

('MH', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4561,College of the Marshall Islands,Majuro,MH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0056,0.0,0.2727,1,0.8923,0.0,0.231,PrivacySuppressed,PrivacySuppressed

('MI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1224,West Michigan College of Barbering and Beauty,Kalamazoo,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0532,0.0,0.0106,0.8085,1,0.7807,0.0000,0.4368,14800,PrivacySuppressed
1755,Hillsdale Beauty College,Hillsdale,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0000,0.0270,1,0.7442,0.7326,0.2000,PrivacySuppressed,PrivacySuppressed
1756,Northwestern Technological Institute,Southfield,MI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0337,0.0000,1,0.8547,0.8659,0.6478,30200,9500

('MI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1753,Adrian College,Adrian,MI,0.0,0.0,0.0,1,500.0,490.0,0.0,...,0.0338,0.0006,0.0822,0.0153,1,0.4142,0.7884,0.0231,37100,27000
1754,Albion College,Albion,MI,0.0,0.0,0.0,1,550.0,580.0,0.0,...,0.0264,0.0240,0.0544,0.0080,1,0.2502,0.6129,0.0130,44900,27000
1757,Alma College,Alma,MI,0.0,0.0,0.0,1,519.0,504.0,0.0,...,0.0257,0.0081,0.0389,0.0081,1,0.2882,0.9070,0.0113,43200,27000

('MN', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
550,Walden University,Minneapolis,MN,0.0,0.0,0.0,0,NaN,NaN,1.0,...,0.0216,0.0099,0.1499,0.9061,1,0.4650,0.6614,0.8741,59700,29125
1863,Academy College,Bloomington,MN,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0084,0.0000,0.0840,0.4034,1,0.5369,0.6913,0.6779,38500,29069
1864,Alexandria Technical & Community College,Alexandria,MN,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0192,0.0012,0.0078,0.2249,1,0.2773,0.4067,0.2576,35100,12000

('MN', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1868,Augsburg College,Minneapolis,MN,0.0,0.0,0.0,1,595.0,558.0,0.0,...,0.0243,0.0176,0.1136,0.2230,1,0.4330,0.7043,0.3108,45700,27000
1872,Bethany Lutheran College,Mankato,MN,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0239,0.0080,0.0258,0.0318,1,0.3972,0.7599,0.0311,34200,25000
1873,Bethel University,Saint Paul,MN,0.0,0.0,0.0,1,585.0,580.0,0.0,...,0.0242,0.0041,0.0157,0.1522,1,0.2725,0.6636,0.1991,45000,24069

('MO', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1357,Concorde Career College-Kansas City,Kansas City,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0339,0.0,0.0220,0.0000,1,0.4003,0.4502,0.6181,22100,9500
1999,ITT Technical Institute-Earth City,Earth City,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0290,0.0,0.0406,0.2456,0,0.8007,0.8339,0.7010,38800,25827.5
2001,House of Heavilin Beauty College-Blue Springs,Blue Springs,MO,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0000,0.1765,1,0.4966,0.5510,0.3556,11600,9088.5

('MO', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1996,Aquinas Institute of Theology,Saint Louis,MO,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
1997,Assemblies of God Theological Seminary,Springfield,MO,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,PrivacySuppressed,22062
1998,Avila University,Kansas City,MO,0.0,0.0,0.0,1,440.0,480.0,0.0,...,0.0288,0.0666,0.0,0.1794,1,0.4226,0.7059,0.3298,41100,26625

('MP', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4141,Northern Marianas College,Saipan,MP,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0768,0.0598,0.0348,0.1509,1,0.9125,0.0,0.2002,19600,PrivacySuppressed

('MS', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1956,Alcorn State University,Alcorn State,MS,1.0,0.0,0.0,0,438.0,453.0,0.0,...,0.0183,0.0126,0.0,0.1450,1,0.7646,0.8423,0.254,30400,28000
1959,Chris Beauty College,Gulfport,MS,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0,0.0000,1,0.5649,0.0000,0.299,15300,PrivacySuppressed
1960,Coahoma Community College,Clarksdale,MS,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0005,0.0005,0.0,0.0443,1,0.8843,0.0000,0.302,21100,PrivacySuppressed

('MS', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1957,Belhaven University,Jackson,MS,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0185,0.0306,0.066,0.4965,1,0.4860,0.6792,0.5435,36800,29656
1958,Blue Mountain College,Blue Mountain,MS,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0040,0.0141,0.002,0.0743,1,0.5551,0.5691,0.1692,29200,PrivacySuppressed
1963,Creations College of Cosmetology,Tupelo,MS,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.000,0.0000,0,0.8113,0.0000,0.4902,17900,PrivacySuppressed

('MT', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2108,Academy of Cosmetology,Bozeman,MT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0000,1,0.4490,0.4286,0.2619,PrivacySuppressed,PrivacySuppressed
2109,Blackfeet Community College,Browning,MT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.1452,1,0.7279,0.0000,0.4800,15600,PrivacySuppressed
2110,Butte Academy of Beauty Culture,Butte,MT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0000,1,0.7455,0.6364,0.4054,PrivacySuppressed,9500

('MT', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2113,Carroll College,Helena,MT,0.0,0.0,0.0,1,565.0,555.0,0.0,...,0.0163,0.0135,0.0816,0.0199,1,0.2103,0.5759,0.0741,45500,27000
2121,University of Great Falls,Great Falls,MT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0174,0.0232,0.0502,0.3971,1,0.3834,0.5315,0.4283,30700,24000
2130,Rocky Mountain College,Billings,MT,0.0,0.0,0.0,1,495.0,495.0,0.0,...,0.0709,0.0498,0.0177,0.0266,1,0.3381,0.7996,0.1053,38900,25626

('NC', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2642,College of the Albemarle,Elizabeth City,NC,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0240,0.0629,0.0097,0.5136,1,0.4029,0.000,0.3617,22300,PrivacySuppressed
2643,The Art Institute of Charlotte,Charlotte,NC,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0886,0.4588,1,0.7099,0.822,0.2754,28800,25167
2644,South Piedmont Community College,Polkton,NC,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0213,0.0224,0.0219,0.6648,1,0.4150,0.000,0.3595,21700,PrivacySuppressed

('NC', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2647,Barton College,Wilson,NC,0.0,0.0,0.0,1,475.0,480.0,0.0,...,0.0281,0.0301,0.0511,0.1082,1,0.4664,0.7843,0.2271,36000,27000
2649,Belmont Abbey College,Belmont,NC,0.0,0.0,0.0,1,495.0,510.0,0.0,...,0.0032,0.0136,0.2977,0.0634,1,0.5086,0.7485,0.4347,36000,27000
2650,Bennett College,Greensboro,NC,1.0,0.0,1.0,1,NaN,NaN,0.0,...,0.0217,0.0018,0.0506,0.0145,1,0.7265,0.8574,0.0235,26900,37000

('ND', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2772,Rasmussen College-North Dakota,Fargo,ND,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0078,0.0013,0.2305,0.4453,1,0.5516,0.6948,0.6286,30900,21163
2773,Bismarck State College,Bismarck,ND,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0274,0.0019,0.0187,0.2874,1,0.2029,0.3516,0.3351,38400,11588
2774,Dickinson State University,Dickinson,ND,0.0,0.0,0.0,0,460.0,425.0,0.0,...,0.0276,0.0601,0.0227,0.2063,1,0.2519,0.4479,0.2436,38800,19500

('ND', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2778,University of Jamestown,Jamestown,ND,0.0,0.0,0.0,1,561.0,586.0,0.0,...,0.0000,0.0658,0.0012,0.0323,1,0.2681,0.6408,0.0806,39600,27000
2782,University of Mary,Bismarck,ND,0.0,0.0,0.0,1,525.0,525.0,0.0,...,0.0187,0.0119,0.0565,0.1043,1,0.2402,0.6492,0.1698,45100,22722
2792,Trinity Bible College,Ellendale,ND,0.0,0.0,0.0,1,450.0,472.0,0.0,...,0.0330,0.0094,0.0000,0.0943,1,0.6768,0.9091,0.1515,25500,27592

('NE', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2133,La'James International College,Fremont,NE,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.6863,0.7451,0.2424,15900,PrivacySuppressed
2134,Bellevue University,Bellevue,NE,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0183,0.0233,0.1864,0.1185,1,0.2914,0.4368,0.8125,52600,17188
2136,Bryan College of Health Sciences,Lincoln,NE,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0153,0.0000,0.0000,0.4745,1,0.3477,0.7049,0.3174,50900,24280.5

('NE', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2135,Clarkson College,Omaha,NE,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0203,0.0000,0.1042,0.4628,1,0.3564,0.7205,0.4744,47000,26000
2140,Concordia University-Nebraska,Seward,NE,0.0,0.0,0.0,1,490.0,480.0,0.0,...,0.0057,0.0114,0.0195,0.0373,1,0.2129,0.5046,0.0405,36100,26000
2141,Creighton University,Omaha,NE,0.0,0.0,0.0,1,575.0,608.0,0.0,...,0.0390,0.0259,0.0085,0.0357,1,0.1757,0.6830,0.0775,57100,23250

('NH', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2183,Colby-Sawyer College,New London,NH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0052,0.1029,0.1443,0.0266,1,0.3550,0.7536,0.0142,38800,27000
2184,Continental Academie of Hair Design-Hudson,Hudson,NH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0139,0.0000,0.0000,0.0000,1,0.5900,0.9000,0.1129,23200,9075
2185,Daniel Webster College,Nashua,NH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0404,0.0016,0.0559,0.1025,1,0.4034,0.7864,0.1377,50500,26999

('NH', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2193,Northeast Catholic College,Warner,NH,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,NaN,NaN,PrivacySuppressed
2210,Rivier University,Nashua,NH,0.0,0.0,0.0,1,480.0,485.0,0.0,...,0.0188,0.0000,0.0963,0.4501,1,0.2753,0.6757,0.4104,41700,25500
2211,Saint Anselm College,Manchester,NH,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0169,0.0062,0.1185,0.0185,1,0.1747,0.7572,0.0146,52800,27000

('NJ', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2215,Eastwick College-Hackensack,Hackensack,NJ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.3067,1,0.6667,0.8457,0.6667,27300,12519
2216,Atlantic Cape Community College,Mays Landing,NJ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0138,0.0102,0.0995,0.5139,1,0.5204,0.1618,0.3129,28100,10005
2217,Fortis Institute-Wayne,Wayne,NJ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0284,0.0000,0.1613,0.0000,1,0.6561,0.7310,0.3280,30400,10305

('NJ', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2221,Bloomfield College,Bloomfield,NJ,0.0,0.0,0.0,1,405.0,415.0,0.0,...,0.0057,0.0357,0.0507,0.0988,1,0.6733,0.8275,0.2044,36100,30500
2224,Caldwell University,Caldwell,NJ,0.0,0.0,0.0,1,465.0,485.0,0.0,...,0.0000,0.0420,0.1748,0.1516,1,0.4214,0.6597,0.2186,44400,26040
2226,Centenary College,Hackettstown,NJ,0.0,0.0,0.0,1,465.0,465.0,0.0,...,0.0037,0.0230,0.2171,0.0546,1,0.3202,0.6293,0.3138,41100,25437.5

('NM', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
114,Pima Medical Institute-Albuquerque,Albuquerque,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0348,0.0000,0.0336,0.0000,1,0.5900,0.6630,0.5387,28200,8708
2303,Olympian Academy of Cosmetology,Alamogordo,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0193,0.0000,0.0345,0.0000,1,0.8292,0.8134,0.4169,17200,11705
2304,Central New Mexico Community College,Albuquerque,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0221,0.0348,0.0311,0.6419,1,0.3945,0.1769,0.4726,29500,10000

('NM', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
7419,Computer Career Center-Las Cruces,Las Cruces,NM,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,21300,14250

('NV', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2170,Academy of Hair Design-Las Vegas,Las Vegas,NV,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0667,0.0000,0.0222,0.0000,1,0.5652,0.7283,0.2468,17200,9500
2171,Career College of Northern Nevada,Sparks,NV,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0379,0.0000,0.0138,0.0000,1,0.7853,0.8492,0.5845,23800,14020.5
2172,College of Southern Nevada,Las Vegas,NV,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0489,0.0126,0.0764,0.7165,1,0.3228,0.1504,0.4493,31700,10500

('NV', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
6439,Touro University Nevada,Henderson,NV,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0323,0.0,0.0645,0.0323,1,0.0,0.2,0.4,NaN,PrivacySuppressed
7352,Marinello School of Beauty-Henderson,Henderson,NV,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,21200,9796.5

('NY', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
678,Tri-State College of Acupuncture,New York,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,PrivacySuppressed,PrivacySuppressed
2334,Vaughn College of Aeronautics and Technology,Flushing,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0467,0.0206,0.0530,0.2143,1,0.6520,0.6792,0.4142,48700,22625
2335,Adelphi University,Garden City,NY,0.0,0.0,0.0,0,550.0,565.0,0.0,...,0.0208,0.0381,0.0743,0.0913,1,0.3079,0.5982,0.1562,51300,25000

('NY', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2375,Canisius College,Buffalo,NY,0.0,0.0,0.0,1,530.0,545.0,0.0,...,0.0172,0.0446,0.0486,0.0132,1,0.2964,0.6715,0.0373,45700,25000
2382,Christ the King Seminary,East Aurora,NY,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
2394,Concordia College-New York,Bronxville,NY,0.0,0.0,0.0,1,425.0,435.0,0.0,...,0.0203,0.1253,0.0361,0.0621,1,0.4329,0.7024,0.3393,43200,26000

('OH', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2796,ETI Technical College,Niles,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0000,0.4737,1,0.9188,0.7250,0.6894,22700,13964
2797,The Art Institute of Cincinnati-AIC College of...,Cincinnati,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0000,0.0556,1,0.6053,0.8947,0.3158,29700,PrivacySuppressed
2798,Miami-Jacobs Career College-Independence,Independence,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0104,0.0,0.0466,0.2487,1,0.8447,0.8539,0.6173,26700,22940

('OH', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2803,Allegheny Wesleyan College,Salem,OH,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0566,1,0.6744,0.6977,0.0465,PrivacySuppressed,PrivacySuppressed
2808,Ashland University,Ashland,OH,0.0,0.0,0.0,1,505.0,525.0,0.0,...,0.0143,0.0236,0.0164,0.2411,1,0.2855,0.5807,0.3070,39000,27000
2812,Baldwin Wallace University,Berea,OH,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0388,0.0107,0.0037,0.0995,1,0.3410,0.8166,0.1393,44900,27000

('OK', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3009,American Broadcasting School-Oklahoma City,Oklahoma City,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0000,0.0000,1,0.6250,0.5625,0.8333,27300,7023
3013,Broken Arrow Beauty College-Broken Arrow,Broken Arrow,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.1538,0.0,0.0000,0.0769,1,0.5758,0.5909,0.3556,16800,9259
3014,Pontotoc Technology Center,Ada,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0283,0.2830,1,0.5705,0.0000,0.4957,28500,PrivacySuppressed

('OK', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3010,Bacone College,Muskogee,OK,0.0,0.0,0.0,1,398.0,428.0,0.0,...,0.0298,0.0000,0.0895,0.1140,1,0.9392,0.8920,0.1648,29700,26350
3011,Oklahoma Wesleyan University,Bartlesville,OK,0.0,0.0,0.0,1,475.0,495.0,0.0,...,0.0442,0.0581,0.0182,0.4796,1,0.3756,0.6845,0.4769,46100,21276.5
3012,Southern Nazarene University,Bethany,OK,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0358,0.0252,0.0317,0.0411,1,0.4515,0.6500,0.3551,45800,18750

('OR', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3069,Academy of Hair Design-Salem,Salem,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0,1,0.8642,0.9877,0.5536,14800,18519
3070,Abdill Career College Inc,Medford,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0,1,0.6486,0.5878,0.4500,PrivacySuppressed,9500
3071,Paul Mitchell the School-Portland,Portland,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0133,0.0133,0.0133,0.0,1,0.3261,0.4402,0.2159,NaN,10194

('OR', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3081,Concordia University-Portland,Portland,OR,0.0,0.0,0.0,1,520.0,520.0,0.0,...,0.0676,0.0193,0.0539,0.1368,1,0.4568,0.7284,0.2839,40400,25000
3086,New Hope Christian College-Eugene,Eugene,OR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0926,0.0247,0.0556,0.1235,1,0.5922,0.6648,0.2346,26400,24921
3087,George Fox University,Newberg,OR,0.0,0.0,0.0,1,540.0,545.0,0.0,...,0.0585,0.0557,0.0421,0.0974,1,0.3448,0.6464,0.1426,41700,22000

('PA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3136,Abington Memorial Hospital Dixon School of Nur...,Willow Grove,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0268,0.0,0.0000,0.0000,1,0.4286,0.8527,0.6696,63300,15836
3137,Jolie Hair and Beauty Academy-Hazleton,Hazleton,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0123,0.0,0.0247,0.2593,1,0.7260,0.7534,0.4330,PrivacySuppressed,8847.5
3138,Keystone Technical Institute,Harrisburg,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0293,0.0,0.1760,0.0000,1,0.7164,0.7709,0.3578,24400,11677.5

('PA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3139,Bryn Athyn College of the New Church,Bryn Athyn,PA,0.0,0.0,0.0,1,445.0,450.0,0.0,...,0.0000,0.0406,0.0000,0.0258,1,0.3726,0.6350,0.0266,PrivacySuppressed,22294.5
3141,Albright College,Reading,PA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0090,0.0235,0.1060,0.0043,1,0.4610,0.8987,0.2452,45800,28750
3144,Allegheny College,Meadville,PA,0.0,0.0,0.0,1,585.0,575.0,0.0,...,0.0437,0.0244,0.0051,0.0066,1,0.2628,0.6742,0.0088,48400,29046

('PR', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4142,Institute of Beauty Careers,Arecibo,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0000,1,0.8407,0.0000,0.2821,12000,PrivacySuppressed
4143,Educational Technical College-Recinto de Bayamon,Bayamon,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0000,1,0.8189,0.0000,0.2933,14500,PrivacySuppressed
4144,American University of Puerto Rico,Bayamon,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0889,1,0.8252,0.0699,0.2657,19300,3920

('PR', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4147,Universidad Adventista de las Antillas,Mayaguez,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0,0.0262,0.0000,0.0638,1,0.8687,0.5291,0.2230,18900,13800
4149,Universidad Central de Bayamon,Bayamón,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0,0.0000,0.0078,0.3055,1,0.8200,0.3063,0.2849,18500,8250
4154,Pontifical Catholic University of Puerto Rico-...,Arecibo,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0,0.0000,0.0877,0.0763,1,0.7511,0.3725,0.2595,17900,13195

('PW', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4215,Palau Community College,Koror,PW,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.3887,1,0.856,0.0,0.2616,24700,PrivacySuppressed

('RI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3402,Brown University,Providence,RI,0.0,0.0,0.0,0,715.0,725.0,0.0,...,0.0544,0.1157,0.0803,0.0037,1,0.1580,0.2291,0.0112,59700,15500
3403,Bryant University,Smithfield,RI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0109,0.0812,0.0248,0.0212,1,0.1664,0.6027,0.0216,64500,27000
3404,Johnson & Wales University-Providence,Providence,RI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0623,0.0762,0.0650,0.0678,1,0.3374,0.7882,0.1037,35300,27000

('RI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3401,Empire Beauty School-Providence,Providence,RI,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0177,0.0000,0.0354,0.2743,0,0.8081,0.6566,0.4667,21000,9833
3408,Providence College,Providence,RI,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0178,0.0206,0.0600,0.0587,1,0.1272,0.5562,0.0689,57700,27000
3414,Salve Regina University,Newport,RI,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0197,0.0159,0.0793,0.0586,1,0.1960,0.7631,0.0592,49700,27000

('SC', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3417,Aiken Technical College,Graniteville,SC,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0101,0.0009,0.0097,0.6123,1,0.5611,0.2446,0.4413,24500,9625
3420,Technical College of the Lowcountry,Beaufort,SC,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0107,0.0013,0.0374,0.7032,1,0.6469,0.1796,0.5035,25300,7500
3422,Bob Jones University,Greenville,SC,0.0,0.0,0.0,0,544.0,522.0,0.0,...,0.0294,0.0564,0.0380,0.0223,1,0.4133,0.3824,0.0384,PrivacySuppressed,19000

('SC', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3418,Allen University,Columbia,SC,1.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0273,1,0.8955,0.9831,0.0783,21100,37676
3419,Charleston Southern University,Charleston,SC,0.0,0.0,0.0,1,490.0,495.0,0.0,...,0.0214,0.0081,0.0383,0.1055,1,0.4718,0.7246,0.2198,35700,27741
3421,Benedict College,Columbia,SC,1.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0016,0.0160,1,0.8288,0.9013,0.0784,21400,44000

('SD', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3479,Black Hills Beauty College,Rapid City,SD,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0092,0.0000,1,0.3931,0.4162,0.1339,16200,11790
3480,Black Hills State University,Spearfish,SD,0.0,0.0,0.0,0,487.0,472.0,0.0,...,0.0388,0.0131,0.0076,0.2416,1,0.3443,0.5587,0.2841,34400,25625
3481,Kilian Community College,Sioux Falls,SD,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.1832,0.8429,0,0.6838,0.7510,0.5455,23100,17125

('SD', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3478,Augustana University,Sioux Falls,SD,0.0,0.0,0.0,1,545.0,575.0,0.0,...,0.0142,0.0679,0.0000,0.0315,1,0.2062,0.6158,0.0424,41800,27000
3483,Dakota Wesleyan University,Mitchell,SD,0.0,0.0,0.0,1,510.0,525.0,0.0,...,0.0209,0.0157,0.0026,0.1176,1,0.3877,0.7815,0.1309,34500,27000
3486,Avera McKennan Hospital School of Radiologic T...,Sioux Falls,SD,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.0500,0.3000,0.0500,PrivacySuppressed,PrivacySuppressed

('TN', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
1205,ITT Technical Institute-Nashville,Nashville,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0199,0.0,0.0091,0.2047,0,0.7352,0.7219,0.8019,38800,25827.5
3507,Arnolds Beauty School,Milan,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0000,0.0000,1,0.6311,0.2913,0.4444,16000,PrivacySuppressed
3508,Tennessee College of Applied Technology-Athens,Athens,TN,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0127,0.0,0.0000,0.0000,1,0.4252,0.0000,0.3960,26600,PrivacySuppressed

('TN', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3506,American Baptist College,Nashville,TN,1.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.00,0.0000,0.2994,1,0.6014,0.8252,0.7305,PrivacySuppressed,25000
3510,Baptist Memorial College of Health Sciences,Memphis,TN,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0026,0.00,0.0180,0.5500,1,0.5653,0.8339,0.5059,54100,30000
3511,Belmont University,Nashville,TN,0.0,0.0,0.0,1,580.0,580.0,0.0,...,0.0348,0.01,0.0369,0.0620,1,0.1729,0.6090,0.0848,41800,22707

('TX', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3611,Alvin Community College,Alvin,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0002,0.0000,0.0143,0.7123,1,0.1549,0.0625,0.2841,34500,6750
3612,Amarillo College,Amarillo,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0001,0.0085,0.6922,1,0.3786,0.1573,0.3431,31700,10950
3613,Angelina College,Lufkin,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0264,0.0005,0.0000,0.5600,1,0.5308,0.0000,0.2603,26900,PrivacySuppressed

('TX', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3610,Abilene Christian University,Abilene,TX,0.0,0.0,0.0,1,530.0,545.0,0.0,...,0.0454,0.0423,0.0045,0.0468,1,0.2595,0.5527,0.0381,40200,25985
3615,Arlington Baptist College,Arlington,TX,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0047,0.0000,0.1682,1,0.4978,0.4892,0.2251,34200,22905
3618,Austin College,Sherman,TX,0.0,0.0,0.0,1,600.0,595.0,0.0,...,0.0031,0.0267,0.0031,0.0016,1,0.2867,0.7581,0.0124,47800,26000

('UT', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3802,AmeriTech College-Provo,Provo,UT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0153,0.0,0.0458,0.0000,1,0.7295,0.8074,0.3526,24700,24370
3803,Bridgerland Applied Technology College,Logan,UT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0107,0.0,0.0253,0.6525,1,0.2017,0.0000,0.4148,24300,PrivacySuppressed
3806,Broadview University-West Jordan,West Jordan,UT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0102,0.0,0.0508,0.3452,1,0.6943,0.8035,0.5590,25500,28458

('UT', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3804,Brigham Young University-Provo,Provo,UT,0.0,0.0,0.0,1,630.0,630.0,0.0,...,0.0344,0.0314,0.0118,0.0981,1,0.3702,0.1921,0.1220,57200,11000
3817,Latter-day Saints Business College,Salt Lake City,UT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0429,0.1775,0.0100,0.3365,1,0.3319,0.2144,0.2235,35100,5799
3818,Everest College-Salt Lake City,West Valley City,UT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0230,0.0000,0.0876,0.2811,0,0.7030,0.5619,0.5371,24400,10632.5

('VA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
704,Medtech Institute,Falls Church,VA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0372,0.0,0.0066,0.0000,1,0.7097,0.4198,0.2039,26300,9236
3850,Bar Palma Beauty Careers Academy,Roanoke,VA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0423,0.1831,1,0.4367,0.4177,0.6944,16900,9731
3851,Advanced Technology Institute,Virginia Beach,VA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0153,0.0,0.0042,0.0000,1,0.3374,0.3010,0.5364,38000,16279

('VA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3852,Averett University,Danville,VA,0.0,0.0,0.0,1,460.0,469.0,0.0,...,0.0000,0.0502,0.0048,0.0227,1,0.5120,0.7879,0.0992,42400,25000
3853,Bluefield College,Bluefield,VA,0.0,0.0,0.0,1,450.0,455.0,0.0,...,0.0334,0.0212,0.0145,0.1193,1,0.4540,0.6989,0.4241,40000,18873
3854,Bridgewater College,Bridgewater,VA,0.0,0.0,0.0,1,520.0,525.0,0.0,...,0.0464,0.0074,0.0317,0.0051,1,0.2754,0.7348,0.0114,40800,27000

('VI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4216,University of the Virgin Islands,Charlotte Amalie,VI,1.0,0.0,0.0,0,400.0,390.0,0.0,...,0.0101,0.0589,0.0715,0.3059,1,0.5161,0.3224,0.3196,31800,15150

('VI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
7404,University of the Virgin Islands-Albert A. Sheen,St. Croix,VI,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,31800,15150

('VT', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3829,Bennington College,Bennington,VT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0349,0.1284,0.038,0.0048,1,0.2342,0.5703,0.0097,24600,27000
3830,Burlington College,Burlington,VT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0225,0.0169,0.118,0.0843,0,0.4670,0.7123,0.2545,26000,25000
3831,Castleton University,Castleton,VT,0.0,0.0,0.0,0,480.0,490.0,0.0,...,0.0153,0.0169,0.063,0.0910,1,0.2938,0.6399,0.0938,34900,25000

('VT', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3835,Green Mountain College,Poultney,VT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0090,0.0323,0.2527,0.0197,1,0.3847,0.7051,0.0407,30100,25449
3843,Saint Michael's College,Colchester,VT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0191,0.0280,0.0015,0.0108,1,0.1682,0.6456,0.0220,46600,27400
3845,College of St Joseph,Rutland,VT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0087,0.0000,0.1000,1,0.6193,0.7216,0.2557,34700,24127

('WA', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3943,Beauty Academy,Wenatchee,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0294,0.0,0.0000,0.0000,1,0.6385,0.6154,0.3896,PrivacySuppressed,8718.5
3944,The Art Institute of Seattle,Seattle,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.8149,0.3128,1,0.4272,0.6662,0.3795,34100,25937.5
3945,Evergreen Beauty and Barber College-Bellevue,Bellevue,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0444,0.0,0.0778,0.0000,1,0.3314,0.3314,0.4400,PrivacySuppressed,7917

('WA', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
3967,Gonzaga University,Spokane,WA,0.0,0.0,0.0,1,590.0,605.0,0.0,...,0.0541,0.028,0.0320,0.0128,1,0.1832,0.5155,0.0298,53000,25500
3981,Trinity Lutheran College,Everett,WA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0048,0.000,0.0144,0.0478,0,0.4948,0.7010,0.2165,37100,25000
3985,Northwest University,Kirkland,WA,0.0,0.0,0.0,1,517.0,496.0,0.0,...,0.0447,0.020,0.0461,0.1239,1,0.3790,0.6787,0.3067,37700,23724.5

('WI', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4063,Advanced Institute of Hair Design-Glendale,Glendale,WI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0244,0.0000,0.0000,0.0000,1,0.5089,0.5325,0.1736,24000,10314
4064,VICI Aveda Institute,Greenfield,WI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0400,0.0000,0.0240,0.0000,1,0.5069,0.6406,0.2059,24000,10314
4066,Madison Area Technical College,Madison,WI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0390,0.0165,0.0096,0.6223,1,0.3259,0.3565,0.5080,35000,14250

('WI', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4065,Alverno College,Milwaukee,WI,0.0,0.0,1.0,1,NaN,NaN,0.0,...,0.0308,0.0053,0.0000,0.2481,1,0.6096,0.8743,0.3464,37100,32606.5
4070,Cardinal Stritch University,Milwaukee,WI,0.0,0.0,0.0,1,465.0,480.0,0.0,...,0.0239,0.0421,0.0269,0.0638,1,0.4278,0.7356,0.6632,48500,27000
4071,Carroll University,Waukesha,WI,0.0,0.0,0.0,1,527.0,542.0,0.0,...,0.0208,0.0119,0.0041,0.0838,1,0.2709,0.7137,0.1119,41300,27000

('WV', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
2842,Scott College of Cosmetology,Wheeling,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0519,0.0,0.0,0.0000,1,0.5276,0.4961,0.1111,14800,9250
4019,B M Spurr School of Practical Nursing,Glen Dale,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0,0.0000,1,0.4722,0.0000,0.4444,PrivacySuppressed,PrivacySuppressed
4020,Ben Franklin Career Center,Dunbar,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0023,0.0,0.0,0.7885,1,0.1761,0.0000,0.7568,20800,PrivacySuppressed

('WV', 1)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4016,Alderson Broaddus University,Philippi,WV,0.0,0.0,0.0,1,475.0,485.0,0.0,...,0.0098,0.0342,0.0020,0.0342,1,0.4800,0.8945,0.0722,46000,27000
4018,Appalachian Bible College,Mount Hope,WV,0.0,0.0,0.0,1,514.0,487.0,0.0,...,0.0000,0.0051,0.0000,0.0612,1,0.4388,0.2770,0.0899,28700,9300
4027,Davis & Elkins College,Elkins,WV,0.0,0.0,0.0,1,485.0,490.0,0.0,...,0.0000,0.1466,0.1657,0.0167,1,0.4188,0.6579,0.1133,35000,23840.5

('WY', 0)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
4128,Casper College,Casper,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0163,0.0078,0.0269,0.3250,1,0.2188,0.1455,0.3447,34800,10764
4129,Central Wyoming College,Riverton,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0300,0.0073,0.0173,0.4377,1,0.1700,0.0967,0.3992,25200,8757
4130,Eastern Wyoming College,Torrington,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0088,0.0015,0.0000,0.3275,1,0.1729,0.1166,0.2371,25900,10000

In [9]:
grouped.head(2)

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
10,Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,...,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
43,Prince Institute-Southeast,Elmhurst,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.7857,0.9375,0.6569,PrivacySuppressed,20992
60,University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
61,Alaska Bible College,Palmer,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0370,0.0000,0.0000,0.1481,1,0.3571,0.2857,0.4286,NaN,PrivacySuppressed
62,University of Alaska Fairbanks,Fairbanks,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0401,0.0110,0.3060,0.3887,1,0.2263,0.2550,0.4519,36200,19355
64,Alaska Pacific University,Anchorage,AK,0.0,0.0,0.0,1,555.0,503.0,0.0,...,0.0945,0.0000,0.0873,0.3745,1,0.3152,0.5297,0.4910,47000,23250
68,Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0373,0.0000,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600,9500
69,Collins College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0241,0.0000,0.3855,0.3373,0,0.7205,0.8228,0.4764,25700,47000
70,Empire Beauty School-Paradise Valley,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0400,0.0000,0.0000,0.1600,0,0.6349,0.5873,0.4651,17800,9588
71,Empire Beauty School-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0079,0.2222,1,0.7962,0.6615,0.4229,18200,9833
114,Pima Medical Institute-Albuquerque,Albuquerque,NM,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0348,0.0000,0.0336,0.0000,1,0.5900,0.6630,0.5387,28200,8708
128,University of Arkansas at Little Rock,Little Rock,AR,0.0,0.0,0.0,0,470.0,510.0,0.0,...,0.0755,0.0283,0.0003,0.4126,1,0.3941,0.4775,0.4062,33900,21736
129,University of Arkansas for Medical Sciences,Little Rock,AR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0281,0.0070,0.0169,0.2433,1,0.3944,0.6144,0.5133,61400,12500
131,Arkansas Baptist College,Little Rock,AR,1.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0089,0.0000,0.1127,1,0.8306,0.8695,0.2833,22000,38000
134,Lyon College,Batesville,AR,0.0,0.0,0.0,1,505.0,528.0,0.0,...,0.0000,0.0333,0.0638,0.0101,1,0.4578,0.6740,0.0524,38600,25000
192,Academy of Art University,San Francisco,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0249,0.2523,0.2098,0.4334,1,0.4008,0.5524,0.4043,36000,35093
193,ITT Technical Institute-Rancho Cordova,Rancho Cordova,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0400,0.0000,0.1780,0.2540,0,0.7137,0.7667,0.7235,38800,25827.5
200,American Baptist Seminary of the West,Berkeley,CA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
210,Azusa Pacific University,Azusa,CA,0.0,0.0,0.0,1,515.0,515.0,0.0,...,0.0738,0.0191,0.0269,0.0875,1,0.2898,0.5172,0.1467,50000,22500
550,Walden University,Minneapolis,MN,0.0,0.0,0.0,0,NaN,NaN,1.0,...,0.0216,0.0099,0.1499,0.9061,1,0.4650,0.6614,0.8741,59700,29125
565,The Salon Professional Academy-Grand Junction,Grand Junction,CO,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0800,0.0000,0.0000,0.0000,1,0.3806,0.4925,0.2778,PrivacySuppressed,9570
566,Adams State University,Alamosa,CO,0.0,0.0,0.0,0,475.0,509.0,0.0,...,0.0450,0.0000,0.0289,0.1474,1,0.5175,0.6305,0.2106,32800,16255
575,Colorado Christian University,Lakewood,CO,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0386,0.0014,0.0369,0.5835,1,0.3087,0.5214,0.4500,36900,25808
589,Prince Institute-Rocky Mountains,Westminster,CO,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,NaN,0,0.6923,0.9487,0.8824,33400,20992
628,Albertus Magnus College,New Haven,CT,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0128,0.0088,0.0592,0.0825,1,0.4420,0.8002,0.5133,52100,27763.5
629,Paul Mitchell the School-Danbury,Danbury,CT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0292,0.0000,0.0803,0.2774,1,0.4078,0.5475,0.2913,19000,10486
630,Asnuntuck Community College,Enfield,CT,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0213,0.0000,0.0319,0.4795,1,0.3790,0.0950,0.3959,30900,5500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3943,Beauty Academy,Wenatchee,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0294,0.0000,0.0000,0.0000,1,0.6385,0.6154,0.3896,PrivacySuppressed,8718.5
3944,The Art Institute of Seattle,Seattle,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.8149,0.3128,1,0.4272,0.6662,0.3795,34100,25937.5
3967,Gonzaga University,Spokane,WA,0.0,0.0,0.0,1,590.0,605.0,0.0,...,0.0541,0.0280,0.0320,0.0128,1,0.1832,0.5155,0.0298,53000,25500
3981,Trinity Lutheran College,Everett,WA,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0048,0.0000,0.0144,0.0478,0,0.4948,0.7010,0.2165,37100,25000
4016,Alderson Broaddus University,Philippi,WV,0.0,0.0,0.0,1,475.0,485.0,0.0,...,0.0098,0.0342,0.0020,0.0342,1,0.4800,0.8945,0.0722,46000,27000
4018,Appalachian Bible College,Mount Hope,WV,0.0,0.0,0.0,1,514.0,487.0,0.0,...,0.0000,0.0051,0.0000,0.0612,1,0.4388,0.2770,0.0899,28700,9300
4019,B M Spurr School of Practical Nursing,Glen Dale,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.4722,0.0000,0.4444,PrivacySuppressed,PrivacySuppressed
4063,Advanced Institute of Hair Design-Glendale,Glendale,WI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0244,0.0000,0.0000,0.0000,1,0.5089,0.5325,0.1736,24000,10314
4064,VICI Aveda Institute,Greenfield,WI,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0400,0.0000,0.0240,0.0000,1,0.5069,0.6406,0.2059,24000,10314
4065,Alverno College,Milwaukee,WI,0.0,0.0,1.0,1,NaN,NaN,0.0,...,0.0308,0.0053,0.0000,0.2481,1,0.6096,0.8743,0.3464,37100,32606.5
4070,Cardinal Stritch University,Milwaukee,WI,0.0,0.0,0.0,1,465.0,480.0,0.0,...,0.0239,0.0421,0.0269,0.0638,1,0.4278,0.7356,0.6632,48500,27000
4128,Casper College,Casper,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0163,0.0078,0.0269,0.3250,1,0.2188,0.1455,0.3447,34800,10764
4129,Central Wyoming College,Riverton,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0300,0.0073,0.0173,0.4377,1,0.1700,0.0967,0.3992,25200,8757
4138,American Samoa Community College,Pago Pago,AS,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0721,0.0024,0.4389,1,0.7245,0.0000,0.1774,19800,PrivacySuppressed
4139,Guam Community College,Mangilao,GU,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0070,0.0055,0.5453,1,0.6354,0.0000,0.3058,22000,PrivacySuppressed
4140,University of Guam,Mangilao,GU,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0080,0.0230,0.2265,1,0.5269,0.2760,0.2064,29900,PrivacySuppressed
4141,Northern Marianas College,Saipan,MP,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0768,0.0598,0.0348,0.1509,1,0.9125,0.0000,0.2002,19600,PrivacySuppressed
4142,Institute of Beauty Careers,Arecibo,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.8407,0.0000,0.2821,12000,PrivacySuppressed
4143,Educational Technical College-Recinto de Bayamon,Bayamon,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.8189,0.0000,0.2933,14500,PrivacySuppressed
4147,Universidad Adventista de las Antillas,Mayaguez,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0262,0.0000,0.0638,1,0.8687,0.5291,0.2230,18900,13800
4149,Universidad Central de Bayamon,Bayamón,PR,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0078,0.3055,1,0.8200,0.3063,0.2849,18500,8250
4214,College of Micronesia-FSM,Pohnpei,FM,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0115,0.3157,1,0.8778,0.0000,0.1631,15700,PrivacySuppressed
4215,Palau Community College,Koror,PW,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.3887,1,0.8560,0.0000,0.2616,24700,PrivacySuppressed
4216,University of the Virgin Islands,Charlotte Amalie,VI,1.0,0.0,0.0,0,400.0,390.0,0.0,...,0.0101,0.0589,0.0715,0.3059,1,0.5161,0.3224,0.3196,31800,15150
4561,College of the Marshall Islands,Majuro,MH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0056,0.0000,0.2727,1,0.8923,0.0000,0.2310,PrivacySuppressed,PrivacySuppressed
5289,Pacific Islands University,Mangilao,GU,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.1846,1,0.9730,0.0000,0.2533,PrivacySuppressed,PrivacySuppressed
6439,Touro University Nevada,Henderson,NV,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0323,0.0000,0.0645,0.0323,1,0.0000,0.2000,0.4000,NaN,PrivacySuppressed
7352,Marinello School of Beauty-Henderson,Henderson,NV,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,21200,9796.5
7404,University of the Virgin Islands-Albert A. Sheen,St. Croix,VI,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,31800,15150
7419,Computer Career Center-Las Cruces,Las Cruces,NM,NaN,NaN,NaN,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,21300,14250

In [10]:
grouped.nth([1,-1]).head(8)

                       CITY  CURROPER  DISTANCEONLY GRAD_DEBT_MDN_SUPP  HBCU  \
STABBR RELAFFIL
AK     0          Fairbanks         1           0.0              19355   0.0
       0             Barrow         1           0.0  PrivacySuppressed   0.0
       1          Anchorage         1           0.0              23250   0.0
       1           Soldotna         1           0.0  PrivacySuppressed   0.0
AL     0         Birmingham         1           0.0            21941.5   0.0
       0             Dothan         1           0.0  PrivacySuppressed   0.0
       1         Birmingham         1           0.0              27000   0.0
       1         Huntsville         1           NaN            36173.5   NaN

                                                  INSTNM MD_EARN_WNE_P10  \
STABBR RELAFFIL
AK     0                  University of Alaska Fairbanks           36200
       0                               Ilisagvik College           24900
       1                       Alaska Pacific University           47000
       1                        Alaska Christian College             NaN
AL     0             University of Alabama at Birmingham           39700
       0         Alabama College of Osteopathic Medicine             NaN
       1                     Birmingham Southern College           44200
       1            Strayer University-Huntsville Campus           49200

                 MENONLY  PCTFLOAN  PCTPELL    ...      UGDS_2MOR  UGDS_AIAN  \
STABBR RELAFFIL                                ...
AK     0             0.0    0.2550   0.2263    ...         0.0401     0.1284
       0             0.0    0.0000   0.1323    ...         0.0000     0.6881
       1             0.0    0.5297   0.3152    ...         0.0945     0.1855
       1             0.0    0.6792   0.8868    ...         0.0147     0.7794
AL     0             0.0    0.5214   0.3460    ...         0.0368     0.0022
       0             0.0       NaN      NaN    ...            NaN        NaN
       1             0.0    0.4809   0.1920    ...         0.0051     0.0102
       1             NaN       NaN      NaN    ...            NaN        NaN

                 UGDS_ASIAN  UGDS_BLACK  UGDS_HISP  UGDS_NHPI  UGDS_NRA  \
STABBR RELAFFIL
AK     0             0.0126      0.0210     0.0522     0.0027    0.0110
       0             0.0826      0.0183     0.0092     0.0459    0.0183
       1             0.0255      0.0291     0.0364     0.0109    0.0000
       1             0.0000      0.0000     0.0147     0.0000    0.0000
AL     0             0.0518      0.2600     0.0283     0.0007    0.0179
       0                NaN         NaN        NaN        NaN       NaN
       1             0.0517      0.1102     0.0195     0.0000    0.0000
       1                NaN         NaN        NaN        NaN       NaN

                 UGDS_UNKN  UGDS_WHITE  WOMENONLY
STABBR RELAFFIL
AK     0            0.3060      0.4259        0.0
       0            0.0000      0.1376        0.0
       1            0.0873      0.5309        0.0
       1            0.1324      0.0588        0.0
AL     0            0.0100      0.5922        0.0
       0               NaN         NaN        0.0
       1            0.0051      0.7983        0.0
       1               NaN         NaN        NaN

[8 rows x 25 columns]

In [23]:
grouped = college.groupby('STABBR')
grouped.ngroups

59

In [24]:
college.STABBR.nunique()

59

In [25]:
def check_minority(df, threshold):
    minority_pct = 1 - df['UGDS_WHITE']
    total_minority = (df.UGDS * minority_pct).sum()
    total_ugds = df.UGDS.sum()
    total_minority_pct = total_minority / total_ugds
    return total_minority_pct > threshold

In [26]:
college_filtered  = grouped.filter(check_minority, threshold=0.5)
college_filtered.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
68,Everest College-Phoenix,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0373,0.0,0.1026,0.4749,0,0.8291,0.7151,0.6700,28600,9500
69,Collins College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0241,0.0,0.3855,0.3373,0,0.7205,0.8228,0.4764,25700,47000
70,Empire Beauty School-Paradise Valley,Phoenix,AZ,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0400,0.0,0.0000,0.1600,0,0.6349,0.5873,0.4651,17800,9588
71,Empire Beauty School-Tucson,Tucson,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0079,0.2222,1,0.7962,0.6615,0.4229,18200,9833
72,Thunderbird School of Global Management,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0,0.0000,1.0000,0,0.0000,0.0000,0.0000,118900,PrivacySuppressed

In [28]:
college.shape

(7535, 27)

In [29]:
college_filtered.shape

(3028, 27)

In [30]:
college_filtered['STABBR'].nunique()

20

In [11]:
weight_loss = pd.read_csv('data/weight_loss.csv')
weight_loss.head()

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283

In [12]:
weight_loss.query('Month == "Jan"')

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283
5  Amy   Jan  Week 3     189
6  Bob   Jan  Week 4     283
7  Amy   Jan  Week 4     190

In [25]:
def find_perc_loss(s):
    return (s - s.iloc[0]) / s.iloc[0]

In [15]:
bob_jan = weight_loss.query('Name == "Bob" and Month == "Jan"')
bob_jan.head()

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
2  Bob   Jan  Week 2     288
4  Bob   Jan  Week 3     283
6  Bob   Jan  Week 4     283

In [22]:
for i in range(0,8,2):
    print(bob_jan.Weight[i])

291
288
283
283

In [26]:
find_perc_loss(bob_jan['Weight'])

0    0.000000
2   -0.010309
4   -0.027491
6   -0.027491
Name: Weight, dtype: float64

In [32]:
pcnt_loss = weight_loss.groupby(['Name', 'Month'])['Weight'].transform(find_perc_loss)
pcnt_loss

0     0.000000
1     0.000000
2    -0.010309
3    -0.040609
4    -0.027491
5    -0.040609
6    -0.027491
7    -0.035533
8     0.000000
9     0.000000
10   -0.028269
11   -0.031579
12   -0.053004
13   -0.068421
14   -0.053004
15   -0.089474
16    0.000000
17    0.000000
18    0.011194
19    0.000000
20   -0.011194
21   -0.017341
22   -0.026119
23   -0.017341
24    0.000000
25    0.000000
26   -0.011494
27   -0.035294
28   -0.030651
29   -0.035294
30   -0.042146
31   -0.052941
Name: Weight, dtype: float64

In [33]:
weight_loss['Perc Weight Loss'] = pcnt_loss.round(3)
weight_loss.head()

  Name Month    Week  Weight  Perc Weight Loss
0  Bob   Jan  Week 1     291             0.000
1  Amy   Jan  Week 1     197             0.000
2  Bob   Jan  Week 2     288            -0.010
3  Amy   Jan  Week 2     189            -0.041
4  Bob   Jan  Week 3     283            -0.027

In [34]:
weight_loss.query('Name == "Bob" and Month in ["Jan", "Feb"]')

   Name Month    Week  Weight  Perc Weight Loss
0   Bob   Jan  Week 1     291             0.000
2   Bob   Jan  Week 2     288            -0.010
4   Bob   Jan  Week 3     283            -0.027
6   Bob   Jan  Week 4     283            -0.027
8   Bob   Feb  Week 1     283             0.000
10  Bob   Feb  Week 2     275            -0.028
12  Bob   Feb  Week 3     268            -0.053
14  Bob   Feb  Week 4     268            -0.053

In [36]:
week4 = weight_loss.query('Week == "Week 4"')
week4

   Name Month    Week  Weight  Perc Weight Loss
6   Bob   Jan  Week 4     283            -0.027
7   Amy   Jan  Week 4     190            -0.036
14  Bob   Feb  Week 4     268            -0.053
15  Amy   Feb  Week 4     173            -0.089
22  Bob   Mar  Week 4     261            -0.026
23  Amy   Mar  Week 4     170            -0.017
30  Bob   Apr  Week 4     250            -0.042
31  Amy   Apr  Week 4     161            -0.053

In [38]:
winner = week4.pivot(index = 'Month',
                     columns = 'Name',
                     values = 'Perc Weight Loss')
winner

Name     Amy    Bob
Month
Apr   -0.053 -0.042
Feb   -0.089 -0.053
Jan   -0.036 -0.027
Mar   -0.017 -0.026

In [42]:
import numpy as np
winner['Winner'] = np.where(winner['Amy'] < winner['Bob'], 'Amy', 'Bob')
winner

Name     Amy    Bob Winner
Month
Apr   -0.053 -0.042    Amy
Feb   -0.089 -0.053    Amy
Jan   -0.036 -0.027    Amy
Mar   -0.017 -0.026    Bob

In [43]:
winner.style.highlight_min(axis = 1)

In [44]:
winner['Winner'].value_counts()

Amy    3
Bob    1
Name: Winner, dtype: int64

In [45]:
week4a = week4.copy()
week4a

   Name Month    Week  Weight  Perc Weight Loss
6   Bob   Jan  Week 4     283            -0.027
7   Amy   Jan  Week 4     190            -0.036
14  Bob   Feb  Week 4     268            -0.053
15  Amy   Feb  Week 4     173            -0.089
22  Bob   Mar  Week 4     261            -0.026
23  Amy   Mar  Week 4     170            -0.017
30  Bob   Apr  Week 4     250            -0.042
31  Amy   Apr  Week 4     161            -0.053

In [49]:
month_chron = week4a['Month'].unique()
month_chron

array(['Jan', 'Feb', 'Mar', 'Apr'], dtype=object)

In [50]:
week4a['Month'] = pd.Categorical(week4a['Month'],
                                 categories = month_chron,
                                 ordered = True)
week4a

   Name Month    Week  Weight  Perc Weight Loss
6   Bob   Jan  Week 4     283            -0.027
7   Amy   Jan  Week 4     190            -0.036
14  Bob   Feb  Week 4     268            -0.053
15  Amy   Feb  Week 4     173            -0.089
22  Bob   Mar  Week 4     261            -0.026
23  Amy   Mar  Week 4     170            -0.017
30  Bob   Apr  Week 4     250            -0.042
31  Amy   Apr  Week 4     161            -0.053

In [52]:
week4a.pivot(index = 'Month',
             columns = 'Name',
             values = 'Perc Weight Loss')

Name     Amy    Bob
Month
Jan   -0.036 -0.027
Feb   -0.089 -0.053
Mar   -0.017 -0.026
Apr   -0.053 -0.042

In [53]:
college = pd.read_csv('data/college.csv')
subset = ['UGDS', 'SATMTMID', 'SATVRMID']

college.shape

(7535, 27)

In [54]:
college2 = college.dropna(subset = subset)
college2.shape

(1184, 27)

In [55]:
def weighted_math_average(df):
    weighted_math = df['UGDS'] * df['SATMTMID']
    return int(weighted_math.sum() / df['UGDS'].sum())

In [61]:
college2.SATMTMID.describe()

count    1184.000000
mean      530.958615
std        73.645153
min       310.000000
25%       482.750000
50%       520.000000
75%       565.000000
max       785.000000
Name: SATMTMID, dtype: float64

In [62]:
college2.UGDS.describe()

count     1184.000000
mean      5652.516892
std       7515.945658
min         73.000000
25%       1295.250000
50%       2505.500000
75%       6572.250000
max      52280.000000
Name: UGDS, dtype: float64

In [63]:
college2.groupby('STABBR').apply(weighted_math_average).head()

STABBR
AK    503
AL    536
AR    529
AZ    569
CA    564
dtype: int64

In [64]:
college2.groupby('STABBR').agg(weighted_math_average).head()

,INSTNM,CITY,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
STABBR,,,,,,,,,,,,,,,,,,,,,
AK,503,503,503,503,503,503,503,503,503,503,...,503,503,503,503,503,503,503,503,503,503
AL,536,536,536,536,536,536,536,536,536,536,...,536,536,536,536,536,536,536,536,536,536
AR,529,529,529,529,529,529,529,529,529,529,...,529,529,529,529,529,529,529,529,529,529
AZ,569,569,569,569,569,569,569,569,569,569,...,569,569,569,569,569,569,569,569,569,569
CA,564,564,564,564,564,564,564,564,564,564,...,564,564,564,564,564,564,564,564,564,564

In [65]:
college2.groupby('STABBR')['SATMTMID'].agg(weighted_math_average).head()

KeyError: 'UGDS'

In [66]:
from collections import OrderedDict

In [68]:
def weighted_average(df):
    data = OrderedDict()
    weight_m = df['UGDS'] * df['SATMTMID']
    weight_v = df['UGDS'] * df['SATVRMID']
    
    wm_avg = weight_m.sum() / df['UGDS'].sum()
    wv_avg = weight_v.sum() / df['UGDS'].sum()
    
    data['weighted_math_avg'] = wm_avg
    data['weighted_verbal_avg'] = wv_avg
    
    data['math_avg'] = df['SATMTMID'].mean()
    data['verbal_avg'] = df['SATVRMID'].mean()
    data['count'] = len(df)
    return pd.Series(data, dtype='int')

In [69]:
college2.groupby('STABBR').apply(weighted_average).head(10)

        weighted_math_avg  weighted_verbal_avg  math_avg  verbal_avg  count
STABBR
AK                    503                  555       503         555      1
AL                    536                  533       504         508     21
AR                    529                  504       515         491     16
AZ                    569                  557       536         538      6
CA                    564                  539       562         549     72
CO                    553                  547       540         537     14
CT                    545                  533       522         517     14
DC                    621                  623       588         589      6
DE                    569                  553       495         486      3
FL                    565                  565       521         529     38

In [80]:
# from scipy import hmean
from scipy.stats import gmean, hmean

In [83]:
# def calculate_means(df):
#     df_means = pd.DataFrame(index = ['Arithmetic', 'Weighted', 'Geometric', 'Harmonic'])
#     cols = ['SATMTMID', 'SATVRMID']
#     for col in cols:
#         arithmetric = df[col].mean()
#         weighted =  np.average(df[col], weights = df['UGDS'])
#         geometric = gmean(df[col])
#         harmonic = hmean(df[col])
#         df_means[col] = ['Arithmetic', 'Weighted', 'Geometric', 'Harmonic']
    
#     df_means['count'] = len(df)
#     return df_means.astype(int)

def calculate_means(df):
        df_means = pd.DataFrame(index=['Arithmetic', 'Weighted',
                                       'Geometric', 'Harmonic'])
        cols = ['SATMTMID', 'SATVRMID']
        for col in cols:
            arithmetic = df[col].mean()
            weighted = np.average(df[col], weights=df['UGDS'])
            geometric = gmean(df[col])
            harmonic = hmean(df[col])
            df_means[col] = [arithmetic, weighted,
                             geometric, harmonic]
        
        df_means['count'] = len(df)
        return df_means.astype(int)

In [84]:

college2.groupby('STABBR').apply(calculate_means).head(12)

                   SATMTMID  SATVRMID  count
STABBR
AK     Arithmetic       503       555      1
       Weighted         503       555      1
       Geometric        503       555      1
       Harmonic         503       555      1
AL     Arithmetic       504       508     21
       Weighted         536       533     21
       Geometric        500       505     21
       Harmonic         497       502     21
AR     Arithmetic       515       491     16
       Weighted         529       504     16
       Geometric        514       489     16
       Harmonic         513       487     16

In [85]:
flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [87]:
bins = [-np.inf, 200, 500, 1000, 2000, np.inf]
bins

[-inf, 200, 500, 1000, 2000, inf]

In [88]:
cuts = pd.cut(flights['DIST'], bins = bins)
cuts.head()

0     (500.0, 1000.0]
1    (1000.0, 2000.0]
2     (500.0, 1000.0]
3    (1000.0, 2000.0]
4    (1000.0, 2000.0]
Name: DIST, dtype: category
Categories (5, interval[float64]): [(-inf, 200.0] < (200.0, 500.0] < (500.0, 1000.0] < (1000.0, 2000.0] < (2000.0, inf]]

In [89]:
cuts.value_counts()

(500.0, 1000.0]     20659
(200.0, 500.0]      15874
(1000.0, 2000.0]    14186
(2000.0, inf]        4054
(-inf, 200.0]        3719
Name: DIST, dtype: int64

In [93]:
flights.groupby(cuts)['AIRLINE'].value_counts(normalize=True)\
                                .round(3)\
                                .head(15)

DIST            AIRLINE
(-inf, 200.0]   OO         0.326
                EV         0.289
                MQ         0.211
                DL         0.086
                AA         0.052
                UA         0.027
                WN         0.009
(200.0, 500.0]  WN         0.194
                DL         0.189
                OO         0.159
                EV         0.156
                MQ         0.100
                AA         0.071
                UA         0.062
                VX         0.028
Name: AIRLINE, dtype: float64

In [95]:
# flights.groupby(cuts)['AIRLINE'].quantile(q=[0.25, 0.50, 0.75])\
#                                 .div(60)\
#                                 .round(2)

flights.groupby(cuts)['AIR_TIME'].quantile(q=[.25, .5, .75]) \
                                     .div(60).round(2)

DIST
(-inf, 200.0]     0.25    0.43
                  0.50    0.50
                  0.75    0.57
(200.0, 500.0]    0.25    0.77
                  0.50    0.92
                  0.75    1.05
(500.0, 1000.0]   0.25    1.43
                  0.50    1.65
                  0.75    1.92
(1000.0, 2000.0]  0.25    2.50
                  0.50    2.93
                  0.75    3.40
(2000.0, inf]     0.25    4.30
                  0.50    4.70
                  0.75    5.03
Name: AIR_TIME, dtype: float64

In [96]:
labels = ['Under an Hour', '1 Hour', '1-2 Hours', '2-4 Hours', '4+ Hours']

cuts2 = pd.cut(flights['DIST'], bins = bins, labels = labels)

In [99]:
flights.groupby(cuts2)['AIRLINE'].value_counts(normalize=True)\
                                 .round(3)\
                                 .unstack()\
                                 .style.highlight_max(axis=1)

In [102]:
flights.groupby(cuts2)['AIRLINE'].value_counts(normalize=True)\
                                 .round(3)\
                                 .unstack()

AIRLINE,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
DIST,,,,,,,,,,,,,,
Under an Hour,0.052,NaN,NaN,0.086,0.289,NaN,NaN,0.211,NaN,0.326,0.027,NaN,NaN,0.009
1 Hour,0.071,0.001,0.007,0.189,0.156,0.005,NaN,0.100,0.012,0.159,0.062,0.016,0.028,0.194
1-2 Hours,0.144,0.023,0.003,0.206,0.101,0.038,NaN,0.051,0.030,0.106,0.131,0.025,0.004,0.138
2-4 Hours,0.264,0.016,0.003,0.165,0.016,0.031,NaN,0.003,0.045,0.046,0.199,0.040,0.012,0.160
4+ Hours,0.212,0.012,0.080,0.171,NaN,0.004,0.028,NaN,0.019,NaN,0.289,0.065,0.074,0.046

In [3]:
s = pd.Series([0,1,1,0,1,1,1,0])
s

0    0
1    1
2    1
3    0
4    1
5    1
6    1
7    0
dtype: int64

In [4]:
s1 = s.cumsum()
s1

0    0
1    1
2    2
3    2
4    3
5    4
6    5
7    5
dtype: int64

In [8]:
a = s.mul(s1)
a

0    0
1    1
2    2
3    0
4    3
5    4
6    5
7    0
dtype: int64

In [10]:
b = s*s1
b

0    0
1    1
2    2
3    0
4    3
5    4
6    5
7    0
dtype: int64

In [11]:
a.equals(b)

True

In [12]:
s.mul(s1).diff()

0    NaN
1    1.0
2    1.0
3   -2.0
4    3.0
5    1.0
6    1.0
7   -5.0
dtype: float64

In [13]:
s.mul(s1).diff().where(lambda x: x<0)

0    NaN
1    NaN
2    NaN
3   -2.0
4    NaN
5    NaN
6    NaN
7   -5.0
dtype: float64

In [17]:
s.mul(s1).diff().where(lambda x: x < 0).ffill()

0    NaN
1    NaN
2    NaN
3   -2.0
4   -2.0
5   -2.0
6   -2.0
7   -5.0
dtype: float64

In [19]:
s.mul(s1).diff().where(lambda x: x < 0).ffill()\
         .add(s1, fill_value = 0)

0    0.0
1    1.0
2    2.0
3    0.0
4    1.0
5    2.0
6    3.0
7    0.0
dtype: float64

In [4]:
import pandas as pd

flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [6]:
flights['ON_TIME'] = flights['ARR_DELAY'].lt(15).astype(int)
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED,ON_TIME
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0,1
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0,1
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0,0

In [10]:
flights[['AIRLINE', 'ORG_AIR', 'ON_TIME']].head(10)

  AIRLINE ORG_AIR  ON_TIME
0      WN     LAX        0
1      UA     DEN        1
2      MQ     DFW        0
3      AA     DFW        1
4      WN     LAX        0
5      UA     IAH        1
6      AA     DFW        0
7      F9     SFO        1
8      AA     ORD        1
9      UA     IAH        1

In [8]:
def max_streak(s):
    s1=s.cumsum()
    return s.mul(s1).diff().where(lambda x: x < 0).ffill()\
                    .add(s1, fill_value =  0).max()

In [9]:
flights.sort_values(['MONTH', 'DAY', 'SCHED_DEP'])\
       .groupby(['AIRLINE', 'ORG_AIR'])['ON_TIME']\
       .agg(['mean', 'size', max_streak]).round(2).head()

                 mean  size  max_streak
AIRLINE ORG_AIR
AA      ATL      0.82   233          15
        DEN      0.74   219          17
        DFW      0.78  4006          64
        IAH      0.80   196          24
        LAS      0.79   374          29

In [11]:
def max_delay_streak(df):
    df = df.reset_index(drop=True)
    s = 1 - df['ON_TIME']
    s1 = s.cumsum()
    streak = s.mul(s1).diff().where(lambda x: x < 0) \
                  .ffill().add(s1, fill_value=0)
    last_idx = streak.idxmax()
    first_idx = last_idx - streak.max() + 1
    df_return = df.loc[[first_idx, last_idx], ['MONTH', 'DAY']]
    df_return['streak'] = streak.max()
    df_return.index = ['first', 'last']
    df_return.index.name = 'type'
    return df_return

In [12]:
flights.sort_values(['MONTH', 'DAY', 'SCHED_DEP'])\
       .groupby(['AIRLINE', 'ORG_AIR'])\
       .apply(max_delay_streak)\
       .sort_values('streak', ascending = False)\
       .head(10)

/home/mark/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  if __name__ == '__main__':

                       MONTH   DAY  streak
AIRLINE ORG_AIR type
AA      DFW     first    2.0  26.0    38.0
                last     3.0   1.0    38.0
MQ      ORD     last     1.0  12.0    28.0
                first    1.0   6.0    28.0
        DFW     last     2.0  26.0    25.0
                first    2.0  21.0    25.0
NK      ORD     first    6.0   7.0    15.0
                last     6.0  18.0    15.0
DL      ATL     last    12.0  24.0    14.0
                first   12.0  23.0    14.0

In [15]:
def max_delay_streak(df):
    df = df.reset_index(drop=True)
    s = 1 - df['ON_TIME']
    s1 = s.cumsum()
    streak = s.mul(s1).diff().where(lambda x: x < 0) \
                             .ffill().add(s1, fill_value = 0)
    last_idx = streak.idxmax()
    first_idx = last_idx - streak.max() + 1
    df_return = df.loc[[first_idx, last_idx], ['MONTH', 'DAY']]
    df_return['streak'] = streak.max()
    df_return.index = ['first', 'last']
    df_return.index.name = 'type'
    return df_return

In [16]:
flights.sort_values(['MONTH', 'DAY', 'SCHED_DEP']) \
       .groupby(['AIRLINE', 'ORG_AIR']) \
       .apply(max_delay_streak) \
       .sort_values('streak', ascending=False).head(10)

/home/mark/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  if __name__ == '__main__':

                       MONTH   DAY  streak
AIRLINE ORG_AIR type
AA      DFW     first    2.0  26.0    38.0
                last     3.0   1.0    38.0
MQ      ORD     last     1.0  12.0    28.0
                first    1.0   6.0    28.0
        DFW     last     2.0  26.0    25.0
                first    2.0  21.0    25.0
NK      ORD     first    6.0   7.0    15.0
                last     6.0  18.0    15.0
DL      ATL     last    12.0  24.0    14.0
                first   12.0  23.0    14.0

In [1]:
import pandas as pd
flights = pd.read_csv('data/flights.csv')

In [5]:
fp = flights.pivot_table(index = 'AIRLINE',
                         columns = 'ORG_AIR',
                         values = 'CANCELLED',
                         aggfunc = 'sum',
                         fill_value = 0)\
             .round(2)

fp.head()

ORG_AIR  ATL  DEN  DFW  IAH  LAS  LAX  MSP  ORD  PHX  SFO
AIRLINE
AA         3    4   86    3    3   11    3   35    4    2
AS         0    0    0    0    0    0    0    0    0    0
B6         0    0    0    0    0    0    0    0    0    1
DL        28    1    0    0    1    1    4    0    1    2
EV        18    6   27   36    0    0    6   53    0    0

In [6]:
fg = flights.groupby(['AIRLINE', 'ORG_AIR'])['CANCELLED'].sum()

In [7]:
fg.head()

AIRLINE  ORG_AIR
AA       ATL         3
         DEN         4
         DFW        86
         IAH         3
         LAS         3
Name: CANCELLED, dtype: int64

In [8]:
fg_unstack = fg.unstack('ORG_AIR',
                        fill_value = 0)
fg.head()

AIRLINE  ORG_AIR
AA       ATL         3
         DEN         4
         DFW        86
         IAH         3
         LAS         3
Name: CANCELLED, dtype: int64

In [9]:
fp.equals(fg_unstack)

True

In [13]:
flights.pivot_table(index = ['AIRLINE', 'MONTH'],
                    columns = ['ORG_AIR', 'CANCELLED'],
                    values = ['DEP_DELAY', 'DIST'],
                    aggfunc = ['mean', 'sum'],
                    fill_value = 0)\
        .head()

                   mean                                                 \
              DEP_DELAY
ORG_AIR             ATL           DEN           DFW             IAH
CANCELLED             0  1          0  1          0    1          0  1
AIRLINE MONTH
AA      1     -3.250000  0   7.062500  0  11.977591 -3.0   9.750000  0
        2     -3.000000  0   5.461538  0   8.756579  0.0   1.000000  0
        3     -0.166667  0   7.666667  0  15.383784  0.0  10.900000  0
        4      0.071429  0  20.266667  0  10.501493  0.0   6.933333  0
        5      5.777778  0  23.466667  0  16.798780  0.0   3.055556  0

                             ...      sum                                \
                             ...     DIST
ORG_AIR              LAS     ...      LAX          MSP        ORD
CANCELLED              0  1  ...        0     1      0  1       0     1
AIRLINE MONTH                ...
AA      1      32.375000  0  ...   135921  2475   7281  0  129334     0
        2      -3.055556  0  ...   113483  5454   5040  0  120572  5398
        3      12.074074  0  ...   131836  1744  14471  0  127072   802
        4      27.241379  0  ...   170285     0   4541  0  152154  4718
        5       2.818182  0  ...   167484     0   6298  0  110864  1999



ORG_AIR          PHX         SFO
CANCELLED          0    1      0     1
AIRLINE MONTH
AA      1      21018    0  33483     0
        2      17049  868  32110  2586
        3      25770    0  43580     0
        4      17727    0  51054     0
        5      11164    0  40233     0

[5 rows x 80 columns]

In [14]:
flights.groupby(['AIRLINE', 'MONTH', 'ORG_AIR', 'CANCELLED'])\
                ['DEP_DELAY', 'DIST']\
                .agg(['mean', 'sum'])\
                .unstack(['ORG_AIR','CANCELLED'], fill_value = 0)\
                .swaplevel(0, 1, axis = 'columns')

                    mean                                                 \
               DEP_DELAY
ORG_AIR              ATL            DEN             DFW             IAH
CANCELLED              0   1          0    1          0    1          0
AIRLINE MONTH
AA      1      -3.250000 NaN   7.062500  NaN  11.977591 -3.0   9.750000
        2      -3.000000 NaN   5.461538  NaN   8.756579  NaN   1.000000
        3      -0.166667 NaN   7.666667  NaN  15.383784  NaN  10.900000
        4       0.071429 NaN  20.266667  NaN  10.501493  NaN   6.933333
        5       5.777778 NaN  23.466667  NaN  16.798780  NaN   3.055556
        6       6.400000 NaN   0.916667  NaN  16.727041  NaN  77.571429
        7      15.131579 NaN   3.478261  NaN  11.014815  NaN  37.592593
        8       3.473684 NaN  21.000000  NaN  10.688385  NaN   4.483871
        9      14.730769 NaN   3.135135  NaN   6.166240  NaN   2.142857
        11      8.600000 NaN  16.833333  NaN  10.222222  NaN   5.200000
        12     12.774194 NaN   5.260870  NaN   6.938776  NaN  13.315789
AS      1            NaN NaN  -3.400000  NaN  -1.200000  NaN   0.000000
        2       0.500000 NaN  -5.000000  NaN   3.200000  NaN        NaN
        3      -2.000000 NaN -12.000000  NaN   3.500000  NaN        NaN
        4       3.500000 NaN  -3.750000  NaN   2.000000  NaN   8.000000
        5      17.000000 NaN   1.000000  NaN  22.500000  NaN -15.000000
        6            NaN NaN   4.142857  NaN   0.500000  NaN -13.000000
        7            NaN NaN   1.600000  NaN  -7.750000  NaN  -9.000000
        8      41.000000 NaN  -8.000000  NaN   2.600000  NaN        NaN
        9            NaN NaN  -3.500000  NaN  -8.333333  NaN  -6.000000
        11     -3.000000 NaN  -6.000000  NaN  -7.000000  NaN        NaN
        12     43.500000 NaN  -8.333333  NaN  11.400000  NaN -13.000000
B6      1            NaN NaN   4.500000  NaN  -0.500000  NaN        NaN
        2            NaN NaN  23.666667  NaN  31.500000  NaN        NaN
        3            NaN NaN  31.000000  NaN        NaN  NaN        NaN
        4            NaN NaN  -3.750000  NaN  -7.000000  NaN        NaN
        5            NaN NaN   7.500000  NaN  -1.600000  NaN        NaN
        6            NaN NaN  22.333333  NaN  10.500000  NaN        NaN
        7            NaN NaN        NaN  NaN        NaN  NaN        NaN
        8            NaN NaN  12.666667  NaN  63.000000  NaN        NaN
...                  ...  ..        ...  ...        ...  ...        ...
UA      11     23.250000 NaN   7.927419  NaN  -5.666667  NaN  13.379310
        12     43.750000 NaN  19.053030  NaN  15.111111  NaN  19.896552
US      1      -4.222222 NaN   0.333333  NaN   1.958333  NaN  -5.200000
        2      -0.500000 NaN   6.555556  NaN   1.538462  NaN   1.466667
        3      -2.666667 NaN   2.416667  NaN   7.000000  NaN  -4.461538
        4      -3.250000 NaN  -5.357143  NaN   8.307692  NaN   8.333333
        5       8.533333 NaN   7.909091  NaN   1.842105  NaN  -3.000000
        6      11.363636 NaN  -2.700000  NaN  15.000000  NaN  -0.904762
VX      1            NaN NaN        NaN  NaN        NaN  NaN        NaN
        2            NaN NaN        NaN  NaN        NaN  NaN        NaN
        3            NaN NaN        NaN  NaN        NaN  NaN        NaN
        4            NaN NaN        NaN  NaN        NaN  NaN        NaN
        5            NaN NaN        NaN  NaN        NaN  NaN        NaN
        6            NaN NaN        NaN  NaN        NaN  NaN        NaN
        7            NaN NaN        NaN  NaN        NaN  NaN        NaN
        8            NaN NaN        NaN  NaN        NaN  NaN        NaN
        9            NaN NaN        NaN  NaN        NaN  NaN        NaN
        11           NaN NaN        NaN  NaN        NaN  NaN        NaN
        12           NaN NaN        NaN  NaN        NaN  NaN        NaN
WN      1       8.764706 NaN  14.273438  NaN        NaN  NaN        NaN
        2       7.285714 NaN  13.504950  NaN        NaN  NaN        NaN
        3      10.733945 NaN  13.075342  NaN        NaN  NaN        NaN
        4      11.376147 NaN  14.703125  NaN        NaN  NaN        NaN
        5      15.224806 NaN  13.509677 -2.0        NaN  NaN        NaN
        6      22.819820 NaN  16.398649  NaN        NaN  NaN        NaN
        7      21.700000 NaN  13.143836  NaN        NaN  NaN        NaN
        8      16.207547 NaN   7.375000  NaN        NaN  NaN        NaN
        9       8.680672 NaN   4.378882  NaN        NaN  NaN        NaN
        11      5.932203 NaN   8.215569  NaN        NaN  NaN        NaN
        12     15.691589 NaN  12.166667  NaN        NaN  NaN        NaN

                                      ...         sum                          \
                                      ...        DIST
ORG_AIR                     LAS       ...         LAX              MSP
CANCELLED          1          0   1   ...           0       1        0      1
AIRLINE MONTH                         ...
AA      1        NaN  32.375000 NaN   ...    135921.0  2475.0   7281.0    NaN
        2        NaN  -3.055556 NaN   ...    113483.0  5454.0   5040.0    NaN
        3        NaN  12.074074 NaN   ...    131836.0  1744.0  14471.0    NaN
        4        NaN  27.241379 NaN   ...    170285.0     NaN   4541.0    NaN
        5        NaN   2.818182 NaN   ...    167484.0     NaN   6298.0    NaN
        6        NaN  38.391304 NaN   ...    158554.0     NaN   3539.0    NaN
        7        NaN   7.500000 NaN   ...    170524.0     NaN  18878.0  980.0
        8        NaN   5.650000 NaN   ...    184865.0  4300.0  14867.0    NaN
        9        NaN  -2.055556 NaN   ...    136870.0  1235.0  16606.0    NaN
        11       NaN   6.644444 NaN   ...    148134.0  1744.0  18615.0  930.0
        12       NaN  -0.340909 NaN   ...    186587.0  4230.0  15906.0  334.0
AS      1        NaN   5.833333 NaN   ...     16731.0     NaN   2798.0    NaN
        2        NaN  72.666667 NaN   ...     19426.0     NaN      NaN    NaN
        3        NaN  -5.300000 NaN   ...     22646.0     NaN   1399.0    NaN
        4        NaN  -4.769231 NaN   ...     25653.0     NaN      NaN    NaN
        5        NaN  14.571429 NaN   ...     24564.0     NaN   5596.0    NaN
        6        NaN  -4.909091 NaN   ...     31560.0     NaN   2798.0    NaN
        7        NaN  -9.166667 NaN   ...     33170.0     NaN      NaN    NaN
        8        NaN  -6.733333 NaN   ...     17172.0     NaN      NaN    NaN
        9        NaN  -3.714286 NaN   ...     30959.0     NaN   1399.0    NaN
        11       NaN  -7.166667 NaN   ...     25569.0     NaN   5596.0    NaN
        12       NaN  -5.538462 NaN   ...     19237.0     NaN   1399.0    NaN
B6      1        NaN  19.666667 NaN   ...     17195.0     NaN      NaN    NaN
        2        NaN   6.500000 NaN   ...     24756.0     NaN      NaN    NaN
        3        NaN  19.428571 NaN   ...     14584.0     NaN      NaN    NaN
        4        NaN  -2.428571 NaN   ...     24490.0     NaN      NaN    NaN
        5        NaN   1.444444 NaN   ...     27365.0     NaN      NaN    NaN
        6        NaN  12.125000 NaN   ...     40020.0     NaN      NaN    NaN
        7        NaN  17.307692 NaN   ...     32319.0     NaN      NaN    NaN
        8        NaN  16.142857 NaN   ...     35058.0     NaN      NaN    NaN
...              ...        ...  ..   ...         ...     ...      ...    ...
UA      11       NaN  14.562500 NaN   ...    117237.0     NaN  12782.0    NaN
        12     227.0  26.625000 NaN   ...    109803.0     NaN   4442.0    NaN
US      1        NaN  -5.357143 NaN   ...     32214.0     NaN  13970.0    NaN
        2        NaN  -5.090909 NaN   ...     28870.0     NaN  12298.0    NaN
        3        NaN  -1.933333 NaN   ...     21457.0     NaN  14850.0    NaN
        4        NaN  -1.062500 NaN   ...     42252.0     NaN  15592.0    NaN
        5        NaN  -3.642857 NaN   ...     40061.0     NaN  10142.0    NaN
        6        NaN  -0.750000 NaN   ...     27260.0     NaN   9508.0    NaN
VX      1        NaN   2.600000 NaN   ...     41336.0     NaN      NaN    NaN
        2        NaN  13.375000 NaN   ...     43444.0  5065.0      NaN    NaN
        3        NaN   0.500000 NaN   ...     39794.0     NaN      NaN    NaN
        4        NaN   8.454545 NaN   ...     59075.0   236.0      NaN    NaN
        5        NaN   6.153846 NaN   ...     51745.0     NaN      NaN    NaN
        6        NaN   4.272727 NaN   ...     51884.0     NaN      NaN    NaN
        7        NaN  23.900000 NaN   ...     29761.0     NaN      NaN    NaN
        8        NaN   2.200000 NaN   ...     38144.0     NaN      NaN    NaN
        9        NaN  -1.750000 NaN   ...     68766.0     NaN      NaN    NaN
        11       NaN   3.800000 NaN   ...     49825.0     NaN      NaN    NaN
        12       NaN   3.000000 NaN   ...     41064.0     NaN      NaN    NaN
WN      1        NaN   9.692308 NaN   ...     80491.0  1536.0  16076.0  349.0
        2        NaN   6.696203 NaN   ...     60772.0  1052.0  12092.0    NaN
        3        NaN  11.515152 NaN   ...     70734.0  1011.0  10241.0    NaN
        4        NaN  11.323864 NaN   ...     70560.0   645.0  14489.0    NaN
        5        NaN  11.766839 NaN   ...     93661.0   236.0   8041.0    NaN
        6        NaN  17.350000 NaN   ...     95765.0     NaN  13875.0    NaN
        7        NaN  22.439024 NaN   ...     98545.0  2950.0  19418.0    NaN
        8        NaN  16.158974 NaN   ...     82705.0  1384.0  13735.0    NaN
        9        NaN   7.179487 NaN   ...     83021.0   953.0  15466.0    NaN
        11       NaN   7.522989 NaN   ...     74092.0  1378.0   8031.0    NaN
        12       NaN  11.994845 NaN   ...     85228.0  2134.0  12060.0    NaN



ORG_AIR             ORD               PHX               SFO
CANCELLED             0       1         0       1         0       1
AIRLINE MONTH
AA      1      129334.0     NaN   21018.0     NaN   33483.0     NaN
        2      120572.0  5398.0   17049.0   868.0   32110.0  2586.0
        3      127072.0   802.0   25770.0     NaN   43580.0     NaN
        4      152154.0  4718.0   17727.0     NaN   51054.0     NaN
        5      110864.0  1999.0   11164.0     NaN   40233.0     NaN
        6      173702.0  4132.0   20854.0     NaN   48474.0     NaN
        7      175049.0  3991.0  211818.0  2988.0   70840.0   337.0
        8      160407.0  3504.0  183432.0  2979.0   83281.0     NaN
        9      139792.0     NaN  166093.0     NaN   65510.0     NaN
        11     135282.0  4284.0  171576.0     NaN   63893.0     NaN
        12     139413.0  3816.0  186718.0     NaN   68857.0     NaN
AS      1        6288.0     NaN    4766.0     NaN    7632.0     NaN
        2        6884.0     NaN    5535.0     NaN    8701.0     NaN
        3        6902.0     NaN    6544.0     NaN    6824.0     NaN
        4        8027.0     NaN    8900.0     NaN    7552.0     NaN
        5       14911.0     NaN    8366.0     NaN    7537.0     NaN
        6        8623.0     NaN    8856.0     NaN   11190.0     NaN
        7       18936.0     NaN    4330.0     NaN    6277.0     NaN
        8        6884.0     NaN    4330.0     NaN    6148.0     NaN
        9        8623.0     NaN    5535.0     NaN    7893.0     NaN
        11       5199.0     NaN    4232.0     NaN    6744.0     NaN
        12       6306.0     NaN   10776.0     NaN    7002.0     NaN
B6      1        3954.0     NaN    6606.0     NaN   23636.0  2704.0
        2        3214.0     NaN    6900.0     NaN   21983.0     NaN
        3        6491.0     NaN    2300.0     NaN   23039.0     NaN
        4        2347.0     NaN   10912.0     NaN   25694.0     NaN
        5       15350.0     NaN       NaN     NaN   27332.0     NaN
        6        6026.0     NaN       NaN     NaN   28336.0     NaN
        7       10361.0     NaN       NaN     NaN   23398.0     NaN
        8        7358.0     NaN       NaN     NaN   29326.0     NaN
...                 ...     ...       ...     ...       ...     ...
UA      11     172855.0   864.0   20354.0     NaN  171220.0   337.0
        12     163871.0  2695.0   13615.0     NaN  205714.0  2446.0
US      1       19261.0     NaN  129492.0  4375.0   26547.0   651.0
        2        8671.0  1277.0  136681.0  4487.0   20996.0     NaN
        3       15224.0  2034.0  160508.0  2917.0   23091.0  5042.0
        4       16460.0     NaN  185006.0  2917.0   13232.0     NaN
        5        9948.0   678.0  171686.0     NaN   13540.0     NaN
        6       17821.0     NaN  202989.0     NaN   24712.0     NaN
VX      1        1744.0     NaN       NaN     NaN   41117.0  2704.0
        2        1846.0     NaN       NaN     NaN   39584.0   679.0
        3           NaN     NaN       NaN     NaN   57607.0     NaN
        4        5334.0     NaN       NaN     NaN   47193.0     NaN
        5        7384.0     NaN       NaN     NaN   51625.0     NaN
        6        9026.0     NaN       NaN     NaN   55048.0     NaN
        7       14360.0     NaN       NaN     NaN   60501.0   337.0
        8        5334.0     NaN       NaN     NaN   54113.0     NaN
        9        1846.0     NaN       NaN     NaN   51949.0     NaN
        11      18460.0     NaN       NaN     NaN   48366.0     NaN
        12       9128.0     NaN       NaN     NaN   64602.0     NaN
WN      1           NaN     NaN  116159.0     NaN   21444.0  1348.0
        2           NaN     NaN  114389.0  1772.0   27171.0  1940.0
        3           NaN     NaN  132805.0   651.0   21627.0     NaN
        4           NaN     NaN  129446.0   255.0   24668.0   784.0
        5           NaN     NaN  125769.0     NaN   34459.0   784.0
        6           NaN     NaN  148508.0     NaN   34614.0  2167.0
        7           NaN     NaN  124669.0   369.0   24176.0     NaN
        8           NaN     NaN  153350.0     NaN   18056.0   784.0
        9           NaN     NaN  130926.0     NaN   27800.0   709.0
        11          NaN     NaN  117726.0   872.0   23235.0   784.0
        12          NaN     NaN  112871.0     NaN   30508.0     NaN

[149 rows x 80 columns]

In [2]:
import pandas as pd
college = pd.read_csv('data/college.csv')

In [3]:
cg = college.groupby(['STABBR', 'RELAFFIL'])\
             ['UGDS', 'SATMTMID']\
             .agg(['size', 'min', 'max']).head(6)
cg

                UGDS                 SATMTMID
                size    min      max     size    min    max
STABBR RELAFFIL
AK     0           7  109.0  12865.0        7    NaN    NaN
       1           3   27.0    275.0        3  503.0  503.0
AL     0          72   12.0  29851.0       72  420.0  590.0
       1          24   13.0   3033.0       24  400.0  560.0
AR     0          68   18.0  21405.0       68  427.0  565.0
       1          18   20.0   4485.0       18  495.0  600.0

In [5]:
cg = cg.rename_axis(['AGG_COLS', 'AGG_FUNCS'],
                    axis = 'columns')
cg

AGG_COLS        UGDS                 SATMTMID
AGG_FUNCS       size    min      max     size    min    max
STABBR RELAFFIL
AK     0           7  109.0  12865.0        7    NaN    NaN
       1           3   27.0    275.0        3  503.0  503.0
AL     0          72   12.0  29851.0       72  420.0  590.0
       1          24   13.0   3033.0       24  400.0  560.0
AR     0          68   18.0  21405.0       68  427.0  565.0
       1          18   20.0   4485.0       18  495.0  600.0

In [6]:
cg.stack('AGG_FUNCS').head()

AGG_COLS                      UGDS  SATMTMID
STABBR RELAFFIL AGG_FUNCS
AK     0        size           7.0       7.0
                min          109.0       NaN
                max        12865.0       NaN
       1        size           3.0       3.0
                min           27.0     503.0

In [7]:
cg.stack('AGG_FUNCS').swaplevel('AGG_FUNCS',
                                'STABBR',
                                axis = 'index')\
                     .head()

AGG_COLS                      UGDS  SATMTMID
AGG_FUNCS RELAFFIL STABBR
size      0        AK          7.0       7.0
min       0        AK        109.0       NaN
max       0        AK      12865.0       NaN
size      1        AK          3.0       3.0
min       1        AK         27.0     503.0

In [8]:
cg.stack('AGG_FUNCS').swaplevel('AGG_FUNCS',
                                'STABBR',
                                axis = 'index')\
                     .sort_index(level='RELAFFIL', axis = 'index')\
                     .sort_index(level='AGG_COLS', axis = 'columns')\
                     .head()

AGG_COLS                   SATMTMID     UGDS
AGG_FUNCS RELAFFIL STABBR
max       0        AK           NaN  12865.0
                   AL         590.0  29851.0
                   AR         565.0  21405.0
min       0        AK           NaN    109.0
                   AL         420.0     12.0

In [9]:
cg.stack('AGG_FUNCS').unstack(['RELAFFIL', 'STABBR'])

AGG_COLS      UGDS                                          SATMTMID         \
RELAFFIL         0      1        0       1        0       1        0      1
STABBR          AK     AK       AL      AL       AR      AR       AK     AK
AGG_FUNCS
size           7.0    3.0     72.0    24.0     68.0    18.0      7.0    3.0
min          109.0   27.0     12.0    13.0     18.0    20.0      NaN  503.0
max        12865.0  275.0  29851.0  3033.0  21405.0  4485.0      NaN  503.0

AGG_COLS
RELAFFIL       0      1      0      1
STABBR        AL     AL     AR     AR
AGG_FUNCS
size        72.0   24.0   68.0   18.0
min        420.0  400.0  427.0  495.0
max        590.0  560.0  565.0  600.0

In [10]:
cg.stack(['AGG_FUNCS', 'AGG_COLS']).head(12)

STABBR  RELAFFIL  AGG_FUNCS  AGG_COLS
AK      0         size       UGDS            7.0
                             SATMTMID        7.0
                  min        UGDS          109.0
                  max        UGDS        12865.0
        1         size       UGDS            3.0
                             SATMTMID        3.0
                  min        UGDS           27.0
                             SATMTMID      503.0
                  max        UGDS          275.0
                             SATMTMID      503.0
AL      0         size       UGDS           72.0
                             SATMTMID       72.0
dtype: float64

In [11]:
cg.rename_axis([None, None], axis = 'index')\
  .rename_axis([None, None], axis = 'columns')

     UGDS                 SATMTMID
     size    min      max     size    min    max
AK 0    7  109.0  12865.0        7    NaN    NaN
   1    3   27.0    275.0        3  503.0  503.0
AL 0   72   12.0  29851.0       72  420.0  590.0
   1   24   13.0   3033.0       24  400.0  560.0
AR 0   68   18.0  21405.0       68  427.0  565.0
   1   18   20.0   4485.0       18  495.0  600.0

In [2]:
import pandas as pd
#1)
weightlifting = pd.read_csv('data/weightlifting.csv')
weightlifting

,Weight Category,M35 35-39,M40 40-44,M45 45-49,M50 50-54,M55 55-59,M60 60-64,M65 65-69,M70 70-74,M75 75-79,M80 80+
0,56,137,130,125,115,102,92,80,67,62,55
1,62,152,145,137,127,112,102,90,75,67,57
2,69,167,160,150,140,125,112,97,82,75,60
3,77,182,172,165,150,135,122,107,90,82,65
4,85,192,182,175,160,142,130,112,95,87,70
5,94,202,192,182,167,150,137,120,100,90,75
6,105,210,200,190,175,157,142,122,102,95,80
7,105,217,207,197,182,165,150,127,107,100,85

In [3]:
#2)
wl_melt = weightlifting.melt(id_vars = 'Weight Category',
                             var_name = 'sex_age',
                             value_name = 'Qual Total')
wl_melt.head()

   Weight Category    sex_age  Qual Total
0               56  M35 35-39         137
1               62  M35 35-39         152
2               69  M35 35-39         167
3               77  M35 35-39         182
4               85  M35 35-39         192

In [4]:
#3)
sex_age = wl_melt['sex_age'].str.split(expand=True)
sex_age.head()

     0      1
0  M35  35-39
1  M35  35-39
2  M35  35-39
3  M35  35-39
4  M35  35-39

In [5]:
#4)
sex_age.columns = ['Sex', 'Age Group']
sex_age.head()

   Sex Age Group
0  M35     35-39
1  M35     35-39
2  M35     35-39
3  M35     35-39
4  M35     35-39

In [6]:
#5)
sex_age['Sex'] = sex_age['Sex'].str[0]
sex_age.head()

  Sex Age Group
0   M     35-39
1   M     35-39
2   M     35-39
3   M     35-39
4   M     35-39

In [7]:
#6
wl_cat_total = wl_melt[['Weight Category', 'Qual Total']]
wl_cat_total.head(2)

   Weight Category  Qual Total
0               56         137
1               62         152

In [8]:
wl_tidy = pd.concat([sex_age, wl_cat_total],
                    axis = 'columns')
wl_tidy.head()

  Sex Age Group  Weight Category  Qual Total
0   M     35-39               56         137
1   M     35-39               62         152
2   M     35-39               69         167
3   M     35-39               77         182
4   M     35-39               85         192

In [9]:
age_group = wl_melt.sex_age.str.extract('(\d{2}[-+](?:\d{2})?)',
                                            expand=False)

In [10]:
sex = wl_melt.sex_age.str[0]

In [11]:
new_cols = {'Sex':sex,
           'Age Group': age_group}
# wl_tidy2 = wl_melt.assign(**new_cols)\ 
#             .drop('sex_age', axis='columns')      

wl_tidy2 = wl_melt.assign(**new_cols) \
             .drop('sex_age',axis='columns')

In [12]:
wl_tidy2.sort_index(axis = 1).equals(wl_tidy.sort_index(axis = 1))

True

In [3]:
import pandas as pd
inspections = pd.read_csv('data/restaurant_inspections.csv',
                         parse_dates = ['Date'])
inspections.head(10)

,Name,Date,Info,Value
0,E & E Grill House,2017-08-08,Borough,MANHATTAN
1,E & E Grill House,2017-08-08,Cuisine,American
2,E & E Grill House,2017-08-08,Description,Non-food contact surface improperly constructe...
3,E & E Grill House,2017-08-08,Grade,A
4,E & E Grill House,2017-08-08,Score,9.0
5,PIZZA WAGON,2017-04-12,Borough,BROOKLYN
6,PIZZA WAGON,2017-04-12,Cuisine,Pizza
7,PIZZA WAGON,2017-04-12,Description,"Food contact surface not properly washed, rins..."
8,PIZZA WAGON,2017-04-12,Grade,A
9,PIZZA WAGON,2017-04-12,Score,10.0

In [4]:
inspections.pivot(index=['Name', 'Date'],
                  columns='Info',
                  values='Value')

NotImplementedError: > 1 ndim Categorical are not supported at this time

In [5]:
inspections.set_index(['Name', 'Date', 'Info']).head(10)

                                                                                      Value
Name              Date       Info
E & E Grill House 2017-08-08 Borough                                              MANHATTAN
                             Cuisine                                               American
                             Description  Non-food contact surface improperly constructe...
                             Grade                                                        A
                             Score                                                      9.0
PIZZA WAGON       2017-04-12 Borough                                               BROOKLYN
                             Cuisine                                                  Pizza
                             Description  Food contact surface not properly washed, rins...
                             Grade                                                        A
                             Score                                                     10.0

In [6]:
inspections.set_index(['Name', 'Date', 'Info'])\
           .unstack('Info').head()

                                                    Value  \
Info                                              Borough
Name                                Date
3 STAR JUICE CENTER                 2017-05-10   BROOKLYN
A & L PIZZA RESTAURANT              2017-08-22   BROOKLYN
AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25   BROOKLYN
ANTOJITOS DELI FOOD                 2017-06-01   BROOKLYN
BANGIA                              2017-06-16  MANHATTAN

                                                                                                   \
Info                                                                                      Cuisine
Name                                Date
3 STAR JUICE CENTER                 2017-05-10                     Juice, Smoothies, Fruit Salads
A & L PIZZA RESTAURANT              2017-08-22                                              Pizza
AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25                                            Turkish
ANTOJITOS DELI FOOD                 2017-06-01  Latin (Cuban, Dominican, Puerto Rican, South &...
BANGIA                              2017-06-16                                             Korean

                                                                                                   \
Info                                                                                  Description
Name                                Date
3 STAR JUICE CENTER                 2017-05-10  Facility not vermin proof. Harborage or condit...
A & L PIZZA RESTAURANT              2017-08-22  Facility not vermin proof. Harborage or condit...
AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25  Plumbing not properly installed or maintained;...
ANTOJITOS DELI FOOD                 2017-06-01  Live roaches present in facility's food and/or...
BANGIA                              2017-06-16  Covered garbage receptacle not provided or ina...


Info                                           Grade Score
Name                                Date
3 STAR JUICE CENTER                 2017-05-10     A  12.0
A & L PIZZA RESTAURANT              2017-08-22     A   9.0
AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25     A  13.0
ANTOJITOS DELI FOOD                 2017-06-01     A  10.0
BANGIA                              2017-06-16     A   9.0

In [7]:
inspections.set_index(['Name', 'Date', 'Info'])\
           .unstack('Info').head()\
           .reset_index(col_level = -1)

                                                          Value  \
Info                                 Name       Date    Borough
0                     3 STAR JUICE CENTER 2017-05-10   BROOKLYN
1                  A & L PIZZA RESTAURANT 2017-08-22   BROOKLYN
2     AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25   BROOKLYN
3                     ANTOJITOS DELI FOOD 2017-06-01   BROOKLYN
4                                  BANGIA 2017-06-16  MANHATTAN

                                                         \
Info                                            Cuisine
0                        Juice, Smoothies, Fruit Salads
1                                                 Pizza
2                                               Turkish
3     Latin (Cuban, Dominican, Puerto Rican, South &...
4                                                Korean


Info                                        Description Grade Score
0     Facility not vermin proof. Harborage or condit...     A  12.0
1     Facility not vermin proof. Harborage or condit...     A   9.0
2     Plumbing not properly installed or maintained;...     A  13.0
3     Live roaches present in facility's food and/or...     A  10.0
4     Covered garbage receptacle not provided or ina...     A   9.0

In [8]:
inspections.set_index(['Name', 'Date', 'Info']).index.nlevels

3

In [9]:
insp_tidy = inspections.set_index(['Name', 'Date', 'Info'])\
                       .unstack('Info')\
                       .reset_index(col_level = -1)
insp_tidy.head()

                                                          Value  \
Info                                 Name       Date    Borough
0                     3 STAR JUICE CENTER 2017-05-10   BROOKLYN
1                  A & L PIZZA RESTAURANT 2017-08-22   BROOKLYN
2     AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25   BROOKLYN
3                     ANTOJITOS DELI FOOD 2017-06-01   BROOKLYN
4                                  BANGIA 2017-06-16  MANHATTAN

                                                         \
Info                                            Cuisine
0                        Juice, Smoothies, Fruit Salads
1                                                 Pizza
2                                               Turkish
3     Latin (Cuban, Dominican, Puerto Rican, South &...
4                                                Korean


Info                                        Description Grade Score
0     Facility not vermin proof. Harborage or condit...     A  12.0
1     Facility not vermin proof. Harborage or condit...     A   9.0
2     Plumbing not properly installed or maintained;...     A  13.0
3     Live roaches present in facility's food and/or...     A  10.0
4     Covered garbage receptacle not provided or ina...     A   9.0

In [10]:
print(insp_tidy.columns.droplevel(0))
print(insp_tidy.columns.droplevel(0).rename(None))

insp_tidy.columns = insp_tidy.columns.droplevel(0).rename(None)

Index(['Name', 'Date', 'Borough', 'Cuisine', 'Description', 'Grade', 'Score'], dtype='object', name='Info')
Index(['Name', 'Date', 'Borough', 'Cuisine', 'Description', 'Grade', 'Score'], dtype='object')

In [11]:
insp_tidy.head()

,Name,Date,Borough,Cuisine,Description,Grade,Score
0,3 STAR JUICE CENTER,2017-05-10,BROOKLYN,"Juice, Smoothies, Fruit Salads",Facility not vermin proof. Harborage or condit...,A,12.0
1,A & L PIZZA RESTAURANT,2017-08-22,BROOKLYN,Pizza,Facility not vermin proof. Harborage or condit...,A,9.0
2,AKSARAY TURKISH CAFE AND RESTAURANT,2017-07-25,BROOKLYN,Turkish,Plumbing not properly installed or maintained;...,A,13.0
3,ANTOJITOS DELI FOOD,2017-06-01,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Live roaches present in facility's food and/or...,A,10.0
4,BANGIA,2017-06-16,MANHATTAN,Korean,Covered garbage receptacle not provided or ina...,A,9.0

In [13]:
inspections.set_index(['Name', 'Date', 'Info'])\
           .squeeze()\
           .unstack('Info')\
           .reset_index()\
           .rename_axis(None, axis = 'columns')

,Name,Date,Borough,Cuisine,Description,Grade,Score
0,3 STAR JUICE CENTER,2017-05-10,BROOKLYN,"Juice, Smoothies, Fruit Salads",Facility not vermin proof. Harborage or condit...,A,12.0
1,A & L PIZZA RESTAURANT,2017-08-22,BROOKLYN,Pizza,Facility not vermin proof. Harborage or condit...,A,9.0
2,AKSARAY TURKISH CAFE AND RESTAURANT,2017-07-25,BROOKLYN,Turkish,Plumbing not properly installed or maintained;...,A,13.0
3,ANTOJITOS DELI FOOD,2017-06-01,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Live roaches present in facility's food and/or...,A,10.0
4,BANGIA,2017-06-16,MANHATTAN,Korean,Covered garbage receptacle not provided or ina...,A,9.0
5,BANGKOK CUISINE,2017-07-19,MANHATTAN,Thai,Non-food contact surface improperly constructe...,A,13.0
6,BASIL,2017-05-03,BROOKLYN,Jewish/Kosher,Cold food item held above 41Âº F (smoked fish ...,A,13.0
7,BEIT JEDDO,2017-03-23,BROOKLYN,Middle Eastern,Thawing procedures improper.,A,13.0
8,BIG FLEISHIG'S EXPRESS,2017-02-22,BROOKLYN,Jewish/Kosher,"Single service item reused, improperly stored,...",A,12.0
9,BLOSSOM ON COLUMBUS,2017-01-25,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,10.0
10,BON APPETIT RESTAURANT,2017-06-27,QUEENS,Creole,Lighting inadequate; permanent lighting not pr...,A,10.0
11,BRANDY'S PIANO BAR,2017-07-24,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
12,"CADWALADER, WICKERSHAM & TAFT",2017-06-07,MANHATTAN,American,"Sanitized equipment or utensil, including in-u...",A,11.0
13,CAFE 58,2017-04-11,BROOKLYN,American,Facility not vermin proof. Harborage or condit...,A,11.0
14,CAFFEBENE,2017-08-07,MANHATTAN,CafÃ©/Coffee/Tea,"Food contact surface not properly washed, rins...",A,5.0
15,CALL IT A WRAP,2017-08-24,STATEN ISLAND,American,Cold food item held above 41Âº F (smoked fish ...,A,8.0
16,CHARLENA CHATEAU,2017-02-28,BROOKLYN,Caribbean,Facility not vermin proof. Harborage or condit...,A,12.0
17,CIBO EXPRESS GOURMET MARKET (VAGABOND),2017-05-24,QUEENS,American,Non-food contact surface improperly constructe...,A,6.0
18,CIPRIANI DOLCI,2017-01-17,MANHATTAN,Italian,Plumbing not properly installed or maintained;...,B,22.0
19,COZY CORNER BAR & RESTAURANT,2017-05-03,QUEENS,American,Food not protected from potential source of co...,A,12.0
20,D-LITE DONUTS,2017-06-30,QUEENS,American,"Food contact surface not properly washed, rins...",A,5.0
21,DELI & GRILL,2017-04-26,BROOKLYN,Delicatessen,Plumbing not properly installed or maintained;...,A,10.0
22,E & E Grill House,2017-08-08,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
23,EMILIO SUPER BAKERY,2017-04-18,BRONX,Bakery,Plumbing not properly installed or maintained;...,A,5.0
24,EMIR PALACE,2017-05-16,BROOKLYN,Middle Eastern,"Food contact surface not properly washed, rins...",A,9.0
25,FIRST STOP BAR & GRILL,2017-05-11,QUEENS,American,Proper sanitization not provided for utensil w...,Not Yet Graded,12.0
26,FISH MARKET RESTAURANT,2017-06-16,MANHATTAN,Seafood,Non-food contact surface improperly constructe...,B,24.0
27,GOURMET SPRING RESTAURANT,2017-02-13,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,12.0
28,HAPPY TOWN CHINESE RESTAURANT,2017-03-15,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,8.0
29,HILLSIDE DOSA HUTT,2017-08-02,QUEENS,Vegetarian,Food not protected from potential source of co...,A,8.0
...,...,...,...,...,...,...,...
70,PRIMA PASTA & CAFE,2017-01-24,QUEENS,Italian,"Food contact surface not properly washed, rins...",A,12.0
71,PROMDI,2017-06-13,QUEENS,Filipino,Evidence of mice or live mice present in facil...,Z,9.0
72,PUNCH LINE JUICE BAR,2017-08-02,BROOKLYN,"Juice, Smoothies, Fruit Salads","No facilities available to wash, rinse and san...",Not Yet Graded,31.0
73,QUE SABOR BAKERY CAFE,2017-04-06,QUEENS,"Latin (Cuban, Dominican, Puerto Rican, South &...",Non-food contact surface improperly constructe...,A,9.0
74,ROOM CAFE,2017-08-01,QUEENS,Korean,Appropriately scaled metal stem-type thermomet...,A,10.0
75,ROSA MEXICANO TRIBECA,2017-06-19,MANHATTAN,Mexican,Non-food contact surface improperly constructe...,A,5.0
76,S & R LE JUICE BAR,2017-02-10,BRONX,"Juice, Smoothies, Fruit Salads",Plumbing not properly installed or maintained;...,A,9.0
77,SABI SUSHI,2017-06-19,MANHATTAN,Japanese,Food not cooled by an approved method whereby ...,B,14.0
78,SAJOMA RESTAURANT & PIZZERIA,2017-02-13,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Cold food item held above 41Âº F (smoked fish ...,B,23.0
79,SCALETTA RISTORANTE,2017-02-01,MANHATTAN,Italian,Facility not vermin proof. Harborage or condit...,A,10.0
80,SHENANIGAN'S,2017-08-16,QUEENS,American,"Raw, cooked or prepared food is adulterated, c...",A,12.0
81,SOLAS,2017-02-28,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,5.0
82,SOOKK THAI RESTAURANT,2017-02-23,MANHATTAN,Thai,Facility not vermin proof. Harborage or condit...,C,32.0
83,SOUTH SLOPE EATERY & JUICEBAR,2017-07-12,BROOKLYN,American,Wiping cloths soiled or not stored in sanitizi...,A,13.0
84,SUNBURST ESPRESSO BAR,2017-03-24,MANHATTAN,American,Cold food item held above 41Âº F (smoked fish ...,A,7.0
85,SUSHI Q JAPANESE RESTAURANT,2017-08-08,BRONX,Japanese,Hot food item not held at or above 140Âº F.,A,7.0
86,SUSHI YASAKA,2017-07-27,MANHATTAN,Japanese,Hot food item not held at or above 140Âº F.,A,12.0
87,SWEDISH FOOTBALL CLUB,2017-01-13,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,5.0
88,TAK KING CHINESE RESTAURANT,2017-04-19,BROOKLYN,Chinese,Food not cooked to required minimum temperature.,B,16.0
89,TAQUERIA JIMMY EXPRESS,2017-03-09,BROOKLYN,Mexican,Non-food contact surface improperly constructe...,A,13.0
90,TEXAS FRIED CHICKEN AND PIZZA,2017-03-23,BROOKLYN,American,Cold food item held above 41Âº F (smoked fish ...,A,12.0
91,THE CELTIC COVE,2017-08-09,QUEENS,Other,"Raw, cooked or prepared food is adulterated, c...",A,10.0
92,THE CRAFTSMAN,2017-09-15,MANHATTAN,American,Evidence of mice or live mice present in facil...,Not Yet Graded,32.0
93,TOWERS CAFE,2017-08-16,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,12.0
94,TOWNE DELI & PIZZA,2017-04-11,STATEN ISLAND,Pizza,Hot food item not held at or above 140Âº F.,B,16.0
95,VALL'S PIZZERIA,2017-03-15,STATEN ISLAND,Pizza/Italian,Wiping cloths soiled or not stored in sanitizi...,A,9.0
96,VIP GRILL,2017-06-12,BROOKLYN,Jewish/Kosher,Hot food item not held at or above 140Âº F.,A,10.0
97,WAHIZZA,2017-04-13,MANHATTAN,Pizza,"No facilities available to wash, rinse and san...",A,10.0
98,WANG MANDOO HOUSE,2017-08-29,QUEENS,Korean,Accurate thermometer not provided in refrigera...,A,12.0
99,XIAOYAN YABO INC,2017-08-29,QUEENS,Korean,Evidence of mice or live mice present in facil...,Z,49.0

In [14]:
inspections.pivot_table(index = ['Name', 'Date'],
                        columns = 'Info',
                        values = 'Value',
                        aggfunc = 'first')\
           .reset_index()\
           .rename_axis(None, axis = 'columns')

,Name,Date,Borough,Cuisine,Description,Grade,Score
0,3 STAR JUICE CENTER,2017-05-10,BROOKLYN,"Juice, Smoothies, Fruit Salads",Facility not vermin proof. Harborage or condit...,A,12.0
1,A & L PIZZA RESTAURANT,2017-08-22,BROOKLYN,Pizza,Facility not vermin proof. Harborage or condit...,A,9.0
2,AKSARAY TURKISH CAFE AND RESTAURANT,2017-07-25,BROOKLYN,Turkish,Plumbing not properly installed or maintained;...,A,13.0
3,ANTOJITOS DELI FOOD,2017-06-01,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Live roaches present in facility's food and/or...,A,10.0
4,BANGIA,2017-06-16,MANHATTAN,Korean,Covered garbage receptacle not provided or ina...,A,9.0
5,BANGKOK CUISINE,2017-07-19,MANHATTAN,Thai,Non-food contact surface improperly constructe...,A,13.0
6,BASIL,2017-05-03,BROOKLYN,Jewish/Kosher,Cold food item held above 41Âº F (smoked fish ...,A,13.0
7,BEIT JEDDO,2017-03-23,BROOKLYN,Middle Eastern,Thawing procedures improper.,A,13.0
8,BIG FLEISHIG'S EXPRESS,2017-02-22,BROOKLYN,Jewish/Kosher,"Single service item reused, improperly stored,...",A,12.0
9,BLOSSOM ON COLUMBUS,2017-01-25,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,10.0
10,BON APPETIT RESTAURANT,2017-06-27,QUEENS,Creole,Lighting inadequate; permanent lighting not pr...,A,10.0
11,BRANDY'S PIANO BAR,2017-07-24,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
12,"CADWALADER, WICKERSHAM & TAFT",2017-06-07,MANHATTAN,American,"Sanitized equipment or utensil, including in-u...",A,11.0
13,CAFE 58,2017-04-11,BROOKLYN,American,Facility not vermin proof. Harborage or condit...,A,11.0
14,CAFFEBENE,2017-08-07,MANHATTAN,CafÃ©/Coffee/Tea,"Food contact surface not properly washed, rins...",A,5.0
15,CALL IT A WRAP,2017-08-24,STATEN ISLAND,American,Cold food item held above 41Âº F (smoked fish ...,A,8.0
16,CHARLENA CHATEAU,2017-02-28,BROOKLYN,Caribbean,Facility not vermin proof. Harborage or condit...,A,12.0
17,CIBO EXPRESS GOURMET MARKET (VAGABOND),2017-05-24,QUEENS,American,Non-food contact surface improperly constructe...,A,6.0
18,CIPRIANI DOLCI,2017-01-17,MANHATTAN,Italian,Plumbing not properly installed or maintained;...,B,22.0
19,COZY CORNER BAR & RESTAURANT,2017-05-03,QUEENS,American,Food not protected from potential source of co...,A,12.0
20,D-LITE DONUTS,2017-06-30,QUEENS,American,"Food contact surface not properly washed, rins...",A,5.0
21,DELI & GRILL,2017-04-26,BROOKLYN,Delicatessen,Plumbing not properly installed or maintained;...,A,10.0
22,E & E Grill House,2017-08-08,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
23,EMILIO SUPER BAKERY,2017-04-18,BRONX,Bakery,Plumbing not properly installed or maintained;...,A,5.0
24,EMIR PALACE,2017-05-16,BROOKLYN,Middle Eastern,"Food contact surface not properly washed, rins...",A,9.0
25,FIRST STOP BAR & GRILL,2017-05-11,QUEENS,American,Proper sanitization not provided for utensil w...,Not Yet Graded,12.0
26,FISH MARKET RESTAURANT,2017-06-16,MANHATTAN,Seafood,Non-food contact surface improperly constructe...,B,24.0
27,GOURMET SPRING RESTAURANT,2017-02-13,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,12.0
28,HAPPY TOWN CHINESE RESTAURANT,2017-03-15,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,8.0
29,HILLSIDE DOSA HUTT,2017-08-02,QUEENS,Vegetarian,Food not protected from potential source of co...,A,8.0
...,...,...,...,...,...,...,...
70,PRIMA PASTA & CAFE,2017-01-24,QUEENS,Italian,"Food contact surface not properly washed, rins...",A,12.0
71,PROMDI,2017-06-13,QUEENS,Filipino,Evidence of mice or live mice present in facil...,Z,9.0
72,PUNCH LINE JUICE BAR,2017-08-02,BROOKLYN,"Juice, Smoothies, Fruit Salads","No facilities available to wash, rinse and san...",Not Yet Graded,31.0
73,QUE SABOR BAKERY CAFE,2017-04-06,QUEENS,"Latin (Cuban, Dominican, Puerto Rican, South &...",Non-food contact surface improperly constructe...,A,9.0
74,ROOM CAFE,2017-08-01,QUEENS,Korean,Appropriately scaled metal stem-type thermomet...,A,10.0
75,ROSA MEXICANO TRIBECA,2017-06-19,MANHATTAN,Mexican,Non-food contact surface improperly constructe...,A,5.0
76,S & R LE JUICE BAR,2017-02-10,BRONX,"Juice, Smoothies, Fruit Salads",Plumbing not properly installed or maintained;...,A,9.0
77,SABI SUSHI,2017-06-19,MANHATTAN,Japanese,Food not cooled by an approved method whereby ...,B,14.0
78,SAJOMA RESTAURANT & PIZZERIA,2017-02-13,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Cold food item held above 41Âº F (smoked fish ...,B,23.0
79,SCALETTA RISTORANTE,2017-02-01,MANHATTAN,Italian,Facility not vermin proof. Harborage or condit...,A,10.0
80,SHENANIGAN'S,2017-08-16,QUEENS,American,"Raw, cooked or prepared food is adulterated, c...",A,12.0
81,SOLAS,2017-02-28,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,5.0
82,SOOKK THAI RESTAURANT,2017-02-23,MANHATTAN,Thai,Facility not vermin proof. Harborage or condit...,C,32.0
83,SOUTH SLOPE EATERY & JUICEBAR,2017-07-12,BROOKLYN,American,Wiping cloths soiled or not stored in sanitizi...,A,13.0
84,SUNBURST ESPRESSO BAR,2017-03-24,MANHATTAN,American,Cold food item held above 41Âº F (smoked fish ...,A,7.0
85,SUSHI Q JAPANESE RESTAURANT,2017-08-08,BRONX,Japanese,Hot food item not held at or above 140Âº F.,A,7.0
86,SUSHI YASAKA,2017-07-27,MANHATTAN,Japanese,Hot food item not held at or above 140Âº F.,A,12.0
87,SWEDISH FOOTBALL CLUB,2017-01-13,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,5.0
88,TAK KING CHINESE RESTAURANT,2017-04-19,BROOKLYN,Chinese,Food not cooked to required minimum temperature.,B,16.0
89,TAQUERIA JIMMY EXPRESS,2017-03-09,BROOKLYN,Mexican,Non-food contact surface improperly constructe...,A,13.0
90,TEXAS FRIED CHICKEN AND PIZZA,2017-03-23,BROOKLYN,American,Cold food item held above 41Âº F (smoked fish ...,A,12.0
91,THE CELTIC COVE,2017-08-09,QUEENS,Other,"Raw, cooked or prepared food is adulterated, c...",A,10.0
92,THE CRAFTSMAN,2017-09-15,MANHATTAN,American,Evidence of mice or live mice present in facil...,Not Yet Graded,32.0
93,TOWERS CAFE,2017-08-16,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,12.0
94,TOWNE DELI & PIZZA,2017-04-11,STATEN ISLAND,Pizza,Hot food item not held at or above 140Âº F.,B,16.0
95,VALL'S PIZZERIA,2017-03-15,STATEN ISLAND,Pizza/Italian,Wiping cloths soiled or not stored in sanitizi...,A,9.0
96,VIP GRILL,2017-06-12,BROOKLYN,Jewish/Kosher,Hot food item not held at or above 140Âº F.,A,10.0
97,WAHIZZA,2017-04-13,MANHATTAN,Pizza,"No facilities available to wash, rinse and san...",A,10.0
98,WANG MANDOO HOUSE,2017-08-29,QUEENS,Korean,Accurate thermometer not provided in refrigera...,A,12.0
99,XIAOYAN YABO INC,2017-08-29,QUEENS,Korean,Evidence of mice or live mice present in facil...,Z,49.0

In [15]:
cities = pd.read_csv('data/texas_cities.csv')
cities

      City             Geolocation
0  Houston  29.7604° N, 95.3698° W
1   Dallas  32.7767° N, 96.7970° W
2   Austin  30.2672° N, 97.7431° W

In [20]:
geolocations = cities.Geolocation.str.split(pat ='. ',
                                            expand = True)
geolocations

         0  1        2  3
0  29.7604  N  95.3698  W
1  32.7767  N  96.7970  W
2  30.2672  N  97.7431  W

In [19]:
geolocations2 = cities.Geolocation.str.split(pat='. ',
                                            expand=True)
geolocations2

         0  1        2  3
0  29.7604  N  95.3698  W
1  32.7767  N  96.7970  W
2  30.2672  N  97.7431  W

In [21]:
geolocations.columns = ['latitude',
                       'latitide direction',
                       'longitude',
                       'longitude direction']
geolocations

  latitude latitide direction longitude longitude direction
0  29.7604                  N   95.3698                   W
1  32.7767                  N   96.7970                   W
2  30.2672                  N   97.7431                   W

In [22]:
geolocations = geolocations.astype({'latitude':'float',
                                    'longitude':'float'})
geolocations.dtypes

latitude               float64
latitide direction      object
longitude              float64
longitude direction     object
dtype: object

In [24]:
cities_tidy = pd.concat([cities['City'], geolocations],
                         axis = 'columns')
cities_tidy

      City  latitude latitide direction  longitude longitude direction
0  Houston   29.7604                  N    95.3698                   W
1   Dallas   32.7767                  N    96.7970                   W
2   Austin   30.2672                  N    97.7431                   W

In [30]:
cities_tidy_to_numeric_test = cities_tidy
cities_tidy_to_numeric_test.apply(pd.to_numeric, errors='coerce')

   City  latitude  latitide direction  longitude  longitude direction
0   NaN   29.7604                 NaN    95.3698                  NaN
1   NaN   32.7767                 NaN    96.7970                  NaN
2   NaN   30.2672                 NaN    97.7431                  NaN

In [31]:
cities_tidy_to_numeric_test = cities_tidy
cities_tidy_to_numeric_test.apply(pd.to_numeric, errors='ignore')

      City  latitude latitide direction  longitude longitude direction
0  Houston   29.7604                  N    95.3698                   W
1   Dallas   32.7767                  N    96.7970                   W
2   Austin   30.2672                  N    97.7431                   W

In [32]:
cities.Geolocation.str.split(pat='° |, ',
                             expand=True)

         0  1        2  3
0  29.7604  N  95.3698  W
1  32.7767  N  96.7970  W
2  30.2672  N  97.7431  W

In [34]:
cities.Geolocation.str.extract('([0-9.]+). (N|S), ([0-9.]+). (E|W)',
#                                '([0-9.]+). (N|S), ([0-9.]+). (E|W)'
                               expand = True)

         0  1        2  3
0  29.7604  N  95.3698  W
1  32.7767  N  96.7970  W
2  30.2672  N  97.7431  W

In [35]:
sensors = pd.read_csv('data/sensors.csv')
sensors

  Group     Property  2012  2013  2014  2015  2016
0     A     Pressure   928   873   814   973   870
1     A  Temperature  1026  1038  1009  1036  1042
2     A         Flow   819   806   861   882   856
3     B     Pressure   817   877   914   806   942
4     B  Temperature  1008  1041  1009  1002  1013
5     B         Flow   887   899   837   824   873

In [36]:
sensors.melt(id_vars = ['Group',
                        'Property'],
                        var_name = 'Year')\
       .head(6)

  Group     Property  Year  value
0     A     Pressure  2012    928
1     A  Temperature  2012   1026
2     A         Flow  2012    819
3     B     Pressure  2012    817
4     B  Temperature  2012   1008
5     B         Flow  2012    887

In [38]:
sensors.melt(id_vars = ['Group', 'Property'],
             var_name = 'Year')\
       .pivot_table(index = ['Group', 'Year'],
                    columns = 'Property',
                    values = 'value')\
       .reset_index()

Property Group  Year  Flow  Pressure  Temperature
0            A  2012   819       928         1026
1            A  2013   806       873         1038
2            A  2014   861       814         1009
3            A  2015   882       973         1036
4            A  2016   856       870         1042
5            B  2012   887       817         1008
6            B  2013   899       877         1041
7            B  2014   837       914         1009
8            B  2015   824       806         1002
9            B  2016   873       942         1013

In [39]:
sensors.melt(id_vars = ['Group', 'Property'],
             var_name = 'Year')\
       .pivot_table(index = ['Group', 'Year'],
                    columns = 'Property',
                    values = 'value')\
       .reset_index()\
       .rename_axis(None,
                    axis = 'columns')

  Group  Year  Flow  Pressure  Temperature
0     A  2012   819       928         1026
1     A  2013   806       873         1038
2     A  2014   861       814         1009
3     A  2015   882       973         1036
4     A  2016   856       870         1042
5     B  2012   887       817         1008
6     B  2013   899       877         1041
7     B  2014   837       914         1009
8     B  2015   824       806         1002
9     B  2016   873       942         1013

In [42]:
sensors.set_index(['Group','Property']).head(4)

                   2012  2013  2014  2015  2016
Group Property
A     Pressure      928   873   814   973   870
      Temperature  1026  1038  1009  1036  1042
      Flow          819   806   861   882   856
B     Pressure      817   877   914   806   942

In [46]:
sensors.set_index(['Group','Property'])\
       .stack()\
       .head(6)

Group  Property
A      Pressure     2012     928
                    2013     873
                    2014     814
                    2015     973
                    2016     870
       Temperature  2012    1026
dtype: int64

In [47]:
sensors.set_index(['Group','Property'])\
       .stack()\
       .unstack('Property')\
       .head(6)

Property    Flow  Pressure  Temperature
Group
A     2012   819       928         1026
      2013   806       873         1038
      2014   861       814         1009
      2015   882       973         1036
      2016   856       870         1042
B     2012   887       817         1008

In [49]:
sensors.set_index(['Group','Property'])\
       .stack()\
       .unstack('Property')\
       .rename_axis(['Group', 'Year'],
                    axis = 'index')\
       .head(6)

Property    Flow  Pressure  Temperature
Group Year
A     2012   819       928         1026
      2013   806       873         1038
      2014   861       814         1009
      2015   882       973         1036
      2016   856       870         1042
B     2012   887       817         1008

In [50]:
sensors.set_index(['Group','Property'])\
       .stack()\
       .unstack('Property')\
       .rename_axis(['Group', 'Year'],
                    axis = 'index')\
       .head(6)

            Flow  Pressure  Temperature
Group Year
A     2012   819       928         1026
      2013   806       873         1038
      2014   861       814         1009
      2015   882       973         1036
      2016   856       870         1042
B     2012   887       817         1008

In [54]:
sensors.set_index(['Group','Property'])\
       .stack()\
       .unstack('Property')\
       .rename_axis(['Group', 'Year'],
                    axis = 'index')\
       .reset_index()\
       .rename_axis(None,
                    axis = 'columns')\
       .head(6)

  Group  Year  Flow  Pressure  Temperature
0     A  2012   819       928         1026
1     A  2013   806       873         1038
2     A  2014   861       814         1009
3     A  2015   882       973         1036
4     A  2016   856       870         1042
5     B  2012   887       817         1008