In [3]:
import pandas as pd
flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [7]:
flights.groupby('AIRLINE').agg({'ARR_DELAY':'mean'}).head()

         ARR_DELAY
AIRLINE
AA        5.542661
AS       -0.833333
B6        8.692593
DL        0.339691
EV        7.034580

In [9]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg('mean').head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [11]:
import numpy as np
flights.groupby('AIRLINE')['ARR_DELAY'].agg(np.mean).head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [12]:
flights.groupby('AIRLINE')['ARR_DELAY'].mean().head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [13]:
grouped = flights.groupby('AIRLINE')
type(grouped)

pandas.core.groupby.groupby.DataFrameGroupBy

In [14]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg(np.sqrt)

/home/mark/.local/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:1062: RuntimeWarning: invalid value encountered in sqrt
  f = lambda x: func(x, *args, **kwargs)
/home/mark/.local/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:3625: RuntimeWarning: invalid value encountered in sqrt
  output = func(group, *args, **kwargs)

Exception: Must produce aggregated value

In [16]:
flights.groupby(['AIRLINE','WEEKDAY'])['CANCELLED'].agg('sum').head(7)

AIRLINE  WEEKDAY
AA       1          41
         2           9
         3          16
         4          20
         5          18
         6          21
         7          29
Name: CANCELLED, dtype: int64

In [17]:
flights.groupby(['AIRLINE','WEEKDAY'])['CANCELLED', 'DIVERTED'].agg(['sum', 'mean']).head(7)

                CANCELLED           DIVERTED
                      sum      mean      sum      mean
AIRLINE WEEKDAY
AA      1              41  0.032106        6  0.004699
        2               9  0.007341        2  0.001631
        3              16  0.011949        2  0.001494
        4              20  0.015004        5  0.003751
        5              18  0.014151        1  0.000786
        6              21  0.018667        9  0.008000
        7              29  0.021837        1  0.000753

In [19]:
agg_dict = {'CANCELLED':['sum', 'mean', 'size'],
            'AIR_TIME':['mean', 'var']}

flights.groupby(['AIRLINE', 'WEEKDAY']).agg(agg_dict).head()

                CANCELLED                    AIR_TIME
                      sum      mean  size        mean          var
AIRLINE WEEKDAY
AA      1              41  0.032106  1277  147.610569  5393.806723
        2               9  0.007341  1226  143.851852  5359.890719
        3              16  0.011949  1339  144.514005  5378.854539
        4              20  0.015004  1333  141.124618  4791.524627
        5              18  0.014151  1272  145.430966  5884.592076

In [29]:
airline_info = flights.groupby(['AIRLINE', 'WEEKDAY'])\
                      .agg({'DIST':['sum', 'mean'],'ARR_DELAY':['min', 'max']})\
                      .astype(int)

airline_info.head(7)

                    DIST       ARR_DELAY
                     sum  mean       min  max
AIRLINE WEEKDAY
AA      1        1455386  1139       -60  551
        2        1358256  1107       -52  725
        3        1496665  1117       -45  473
        4        1452394  1089       -46  349
        5        1427749  1122       -41  732
        6        1265340  1124       -50  858
        7        1461906  1100       -49  626

In [31]:
level0 = airline_info.columns.get_level_values(0)
level0

Index(['DIST', 'DIST', 'ARR_DELAY', 'ARR_DELAY'], dtype='object')

In [32]:
level1 = airline_info.columns.get_level_values(1)
level1

Index(['sum', 'mean', 'min', 'max'], dtype='object')

In [33]:
airline_info.columns = level0 + '_' + level1
airline_info.head(7)

                 DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
AIRLINE WEEKDAY
AA      1         1455386       1139            -60            551
        2         1358256       1107            -52            725
        3         1496665       1117            -45            473
        4         1452394       1089            -46            349
        5         1427749       1122            -41            732
        6         1265340       1124            -50            858
        7         1461906       1100            -49            626

In [34]:
airline_info.reset_index().head(7)

  AIRLINE  WEEKDAY  DIST_sum  DIST_mean  ARR_DELAY_min  ARR_DELAY_max
0      AA        1   1455386       1139            -60            551
1      AA        2   1358256       1107            -52            725
2      AA        3   1496665       1117            -45            473
3      AA        4   1452394       1089            -46            349
4      AA        5   1427749       1122            -41            732
5      AA        6   1265340       1124            -50            858
6      AA        7   1461906       1100            -49            626

In [41]:
a = flights.groupby(['AIRLINE', 'WEEKDAY'], as_index=False)['DIST'].agg(np.mean).round(0)
print(type(a))
a

<class 'pandas.core.frame.DataFrame'>

   AIRLINE  WEEKDAY    DIST
0       AA        1  1140.0
1       AA        2  1108.0
2       AA        3  1118.0
3       AA        4  1090.0
4       AA        5  1122.0
5       AA        6  1125.0
6       AA        7  1101.0
7       AS        1  1029.0
8       AS        2  1082.0
9       AS        3  1045.0
10      AS        4  1112.0
11      AS        5  1110.0
12      AS        6  1049.0
13      AS        7  1037.0
14      B6        1  1703.0
15      B6        2  1755.0
16      B6        3  1619.0
17      B6        4  1878.0
18      B6        5  1767.0
19      B6        6  1859.0
20      B6        7  1822.0
21      DL        1   865.0
22      DL        2   853.0
23      DL        3   873.0
24      DL        4   869.0
25      DL        5   846.0
26      DL        6   884.0
27      DL        7   878.0
28      EV        1   449.0
29      EV        2   477.0
..     ...      ...     ...
68      OO        6   537.0
69      OO        7   501.0
70      UA        1  1206.0
71      UA        2  1209.0
72      UA        3  1225.0
73      UA        4  1214.0
74      UA        5  1227.0
75      UA        6  1275.0
76      UA        7  1276.0
77      US        1  1265.0
78      US        2  1199.0
79      US        3  1222.0
80      US        4  1177.0
81      US        5  1207.0
82      US        6  1042.0
83      US        7  1156.0
84      VX        1  1380.0
85      VX        2  1260.0
86      VX        3  1310.0
87      VX        4  1230.0
88      VX        5  1110.0
89      VX        6  1067.0
90      VX        7  1285.0
91      WN        1   803.0
92      WN        2   810.0
93      WN        3   782.0
94      WN        4   811.0
95      WN        5   817.0
96      WN        6   835.0
97      WN        7   819.0

[98 rows x 3 columns]

In [42]:
college = pd.read_csv('data/college.csv')
college.groupby('STABBR')['UGDS']\
       .agg(['mean', 'std'])\
       .round(0)\
       .head()

          mean      std
STABBR
AK      2493.0   4052.0
AL      2790.0   4658.0
AR      1644.0   3143.0
AS      1276.0      NaN
AZ      4130.0  14894.0

In [43]:
def max_deviation(s):
    std_score = (s - s.mean()) / s.std()
    return std_score.abs().max()

In [44]:
college.groupby('STABBR')['UGDS'].agg(max_deviation)\
                                 .round(1).head()

STABBR
AK    2.6
AL    5.8
AR    6.3
AS    NaN
AZ    9.9
Name: UGDS, dtype: float64

In [45]:
college.groupby('STABBR')['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg(max_deviation)\
       .round(1)\
       .head()

        UGDS  SATVRMID  SATMTMID
STABBR
AK       2.6       NaN       NaN
AL       5.8       1.6       1.8
AR       6.3       2.2       2.3
AS       NaN       NaN       NaN
AZ       9.9       1.9       1.4

In [53]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg([max_deviation, 'mean', 'std'])\
       .round(1)\
       .head()

                         UGDS                      SATVRMID               \
                max_deviation    mean     std max_deviation   mean   std
STABBR RELAFFIL
AK     0                  2.1  3508.9  4539.5           NaN    NaN   NaN
       1                  1.1   123.3   132.9           NaN  555.0   NaN
AL     0                  5.2  3248.8  5102.4           1.6  514.9  56.5
       1                  2.4   979.7   870.8           1.5  498.0  53.0
AR     0                  5.8  1793.7  3401.6           1.9  481.1  37.9

                     SATMTMID
                max_deviation   mean   std
STABBR RELAFFIL
AK     0                  NaN    NaN   NaN
       1                  NaN  503.0   NaN
AL     0                  1.7  515.8  56.7
       1                  1.4  485.6  61.4
AR     0                  2.0  503.6  39.0

In [54]:
max_deviation.__name__

'max_deviation'

In [56]:
max_deviation.__name__ = 'Max Deviation'
college.groupby(['STABBR', 'RELAFFIL'])['UGDS', 'SATVRMID', 'SATMTMID']\
       .agg([max_deviation, 'mean', 'std'])\
       .round(1)\
       .head()

                         UGDS                      SATVRMID               \
                Max Deviation    mean     std Max Deviation   mean   std
STABBR RELAFFIL
AK     0                  2.1  3508.9  4539.5           NaN    NaN   NaN
       1                  1.1   123.3   132.9           NaN  555.0   NaN
AL     0                  5.2  3248.8  5102.4           1.6  514.9  56.5
       1                  2.4   979.7   870.8           1.5  498.0  53.0
AR     0                  5.8  1793.7  3401.6           1.9  481.1  37.9

                     SATMTMID
                Max Deviation   mean   std
STABBR RELAFFIL
AK     0                  NaN    NaN   NaN
       1                  NaN  503.0   NaN
AL     0                  1.7  515.8  56.7
       1                  1.4  485.6  61.4
AR     0                  2.0  503.6  39.0

In [57]:
def pct_between_1_3k(s):
    return s.between(1000, 3000).mean()

In [58]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS']\
       .agg(pct_between_1_3k).head(9)

STABBR  RELAFFIL
AK      0           0.142857
        1           0.000000
AL      0           0.236111
        1           0.333333
AR      0           0.279412
        1           0.111111
AS      0           1.000000
AZ      0           0.096774
        1           0.000000
Name: UGDS, dtype: float64

In [61]:
def pct_between_1_3k(s, low, high):
    return s.between(low, high).mean()

In [62]:
college.groupby(['STABBR', 'RELAFFIL'])['UGDS']\
       .agg(pct_between_1_3k, 1000, 3000).head(9)

STABBR  RELAFFIL
AK      0           0.142857
        1           0.000000
AL      0           0.236111
        1           0.333333
AR      0           0.279412
        1           0.111111
AS      0           1.000000
AZ      0           0.096774
        1           0.000000
Name: UGDS, dtype: float64